.journal-item {
    border: 1px solid;
    padding: 10px;
    border-radius: 5px;
    transition: all 0.3s;
}

.journal-item:not(:first-child) {
    margin-top: 10px
}

.journal-item:hover {
    background-color: #d3dadc;
}

.journal-item a {
    color: black;
    text-decoration: none;
}

.sub_title {
    font-size: 14px;
    font-weight: bold !important
}