{% extends 'base.html' %}
{% load static %}
{% block link %}{% static 'pcss/2018.css'%}{% endblock link %}

{% block name %}2018.html{% endblock name %}

{% block content %}

<div id="imContentContainer">
	<div id="imContentGraphics"></div>
	<main id="imContent">
		<a id="imGoToCont"></a>
		<div class="imContentDataContainer">
			<div id="imBreadcrumb">Arxiv</div>
		</div>
		<div id="imPageRow_1" class="imPageRow">

			<div id="imPageRowContent_1" class="imContentDataContainer">
				<div id="imCell_1" class="">
					<div id="imCellStyleGraphics_1"></div>
					<div id="imCellStyle_1">
						<div id="imTextObject_7_01">
							<div class="text-tab-content" id="imTextObject_7_01_tab0" style="">
								<div class="text-inner">
									<div>
										<div class="imTACenter"><span
												class="fs10lh1-5"><b>2018-<wbr>yilda chop etilgan maqolalar<br><br><a
														href="https://drive.google.com/open?id=1mIen02CccK37ESCE6m74RpsoQPwnyRte"
														target="_blank"
														class="imCssLink">1-<wbr>son</a></b><b><br><br></b></span>
										</div>
										<div><span class="fs10lh1-5">1. <b>Djamalov S.Z.</b> Ko'p
												o'lchovli fazoda ikkinchi tur aralash tipdagi tenglama
												uchun nolokal chegaraviy masala haqida (<a
													href="https://drive.google.com/open?id=1iROeFHFw6mL7ZbJLvmCwWojT0qX_tit7"
													target="_blank" class="imCssLink">1-<wbr>8</a>)<br>2. <b>O'rinov
													A.Q., Ismoilov A.I.</b> &nbsp;Umumlashgan
												Eyler-<wbr>Puasson-<wbr>Darbu tenglamasi uchun Koshi-<wbr>Gursa masalasi yechilishi haqida (<a
													href="https://drive.google.com/open?id=10gbWrpKgLJHpzxcpE2-cdgh_46lu6pWI"
													target="_blank" class="imCssLink">9-<wbr>22</a>)<br>3. <b>Xakimov
													R.M., Ayubjonova M.S.</b> Keli daraxti ustida to'rt
												holatli ferromagnit Potts modeli uchun davriy Gibbs
												o'lchovlari (<a
													href="https://drive.google.com/open?id=1BPIvceZJ0cyf4hD0mBSM24OsjhLcOdK-"
													target="_blank" class="imCssLink">23-<wbr>27</a>)<br>4. <b>Xakimov
													R.M., Tojiboyev B.Z.</b> Keli daraxti ustida uch
												holatli HC modellari uchun chekka Gibbs o'lchovlari
												haqida (<a
													href="https://drive.google.com/open?id=1i-dT_uZX0a4d4nLZdGxD5jHWeIyf_j0C"
													target="_blank" class="imCssLink">28-<wbr>31</a>)<br>5.
												<b>Xudoyberdiyev A.X., Sattarov A.M.</b> Nilpotent
												Leibniz algebralarining k tartibli Leibniz
												differensiallashlari (<a
													href="https://drive.google.com/open?id=1JQCxVW1oIHESUFygXo3Aa4VElz4RorJr"
													target="_blank" class="imCssLink">32-<wbr>39</a>)
												<br>6. <b>Ro'ziyev M.X.</b> Aralash tipdagi
												tenglamalarning bir sinfi uchun shartlar buzulish
												chizig'ida va chegaraviy xarakteristika bo'lagida
												berilgan masala (<a
													href="https://drive.google.com/open?id=1wfNeOSxvcztdlByZPbKYzKCMYKKMvEF2"
													target="_blank" class="imCssLink">40-<wbr>49</a>)<b><br></b></span>
										</div>
										<div class="imTACenter"><span class="fs10lh1-5"><b><a
														href="https://drive.google.com/open?id=1TVptxZUhNSrvTaMxtK_p0h6ehds8vfOo"
														target="_blank"
														class="imCssLink">2-<wbr>son</a></b><b><br><br></b></span>
										</div>
										<div><span class="fs10lh1-5">1. <b>Amanov J., Kilichov O.</b>
												To'rtburchak sohada to'rtinchi tartibli aralash tipdagi
												tenglama uchun chegaraviy masala (<a
													href="https://drive.google.com/open?id=1CzF-jA3covNtFBPj9FJ74xC0koJVmAGD"
													target="_blank" class="imCssLink">1-<wbr>8</a>)<br>2. <b>Djamalov
													S.Z.</b> Ikkinchi tartibli birinchi tur aralash
												tipdagi kop olchovli tenglama uchun bir teskari masala
												haqida (<a
													href="https://drive.google.com/open?id=17Et4yKBmyLaNmZhWm70SsNkaO4JxD6TD"
													target="_blank" class="imCssLink">9-<wbr>15</a>)<br>3. <b>Raximova
													G.G.</b> Fiksrlangan uzunlikka ega intervallar
												yordamida ketma-<wbr>ket noparametrik baholash (<a
													href="https://drive.google.com/open?id=1T3Bp3G3Y8PZ8o24uIXS1t51rxXiyXiJL"
													target="_blank" class="imCssLink">16-<wbr>21</a>)<br>4.
												<b>Sagdullayeva M.M.</b> Bosh qismida issiqlik tarqalish
												operatori qatnashgan uchinchi tartibli tenglama uchun
												bir masala haqida (<a
													href="https://drive.google.com/open?id=1xjnu62VvkiM-79ntln68qpb7mTRlE6Js"
													target="_blank" class="imCssLink">22-<wbr>27</a>)<br>5. <b>Devid J.,
													Nolte A., Sherman J. </b>Singulyarlikka ega uch
												o'lchamli kasr tartibli to'lqin tenglamasi uchun
												chegaraviy masala (<a
													href="https://drive.google.com/open?id=1Xq5ssyTmm5WNZHhcYLF9konOahbNFeGV"
													target="_blank" class="imCssLink">28-<wbr>52</a>)<b><br></b></span>
										</div>
										<div class="imTACenter"><b class="fs10lh1-5"><br></b></div>
										<div class="imTACenter"><span class="fs10lh1-5"><b><a
														href="https://drive.google.com/open?id=1ZouIWjSJc2hbZZeQflZpUXxtG9RP2J3o"
														target="_blank"
														class="imCssLink">3-<wbr>son</a></b><b><br><br></b></span>
										</div>
										<div><span class="fs10lh1-5">1. <b>Tahririyat. </b>Akademik
												Mahmud Salohiddinovich Salohiddinov (85 yillik yubiley)
												(<a href="https://drive.google.com/open?id=1C_GEqdwoC0y-j0ZQmKWgKG_Uwi-1-A7E"
													target="_blank" class="imCssLink">1-<wbr>4</a>)<br>2. <b>Ashurov
													R.R., Djamalov S.Z.</b> Ikkinchi tartibli ikkinchi
												&nbsp;tur &nbsp;aralash tipdagi ko'p o'lchovli tenglama
												uchun &nbsp;nolocal chegaraviy shartli bir teskari
												masala haqida (<a
													href="https://drive.google.com/open?id=1CZ8BiwJXX-GfSbVnjPDguOxj_PhGvKnE"
													target="_blank" class="imCssLink">5-<wbr>11</a>)<br>3. <b>Sabitov
													K.B., Sidorov S.N.</b> Parabolik buziladigan qismga
												ega aralash
												parabolik-<wbr>giperbolik tipdagi tenglama uchun teskari masalalar (<a
													href="https://drive.google.com/open?id=1wtT2tLwAgnDlrdcPTPJM3YMo_mI7_4kJ"
													target="_blank" class="imCssLink">12-<wbr>22</a>)<br>4. <b>Ergashev
													T.G., Hasanov A.</b> Kampe de Ferye tipidagi
												funksiyalar uchun xususiy hosilali differensial
												tenglamalar sistemalarining yechimlari (<a
													href="https://drive.google.com/open?id=15Q9cQobv1_pWuN6ZeHAolbonlbTEKZJR"
													target="_blank" class="imCssLink">23-<wbr>28</a>)<br>5.
												<b>Mirsaburov M., Ro'ziyev M.X., Amonov B.B.</b>
												Singulyar koeffitsiyentlarga ega bo'lgan buziladigan
												elliptik tipdagi tenglamaning fundamental yechimlari va
												ularning ba'zi xossalari haqida (<a
													href="https://drive.google.com/open?id=1d0i8MatDs2kp4CKDVmhxFOjyqvhlQn_g"
													target="_blank" class="imCssLink">29-<wbr>49</a>)<b><br></b></span>
										</div>
										<div class="imTACenter"><span class="fs10lh1-5"><b><a
														href="https://drive.google.com/open?id=1QMA0XCmvVL0cNS-sxbJtze1ntMN-Ul6o"
														target="_blank"
														class="imCssLink">4-<wbr>son</a></b><b><br><br></b></span>
										</div>
										<div><span class="fs10lh1-5">1. <b>Balkizov J.A.</b> Uchinchi
												tartibli
												parabolik-<wbr>giperbolik tenglama uchun giperbolik qismida siljishli shartli chegaraviy masala haqida (<a
													href="https://drive.google.com/open?id=1IR_Kw6PItr1oyHL_axpaZKayNqVn_aVJ"
													target="_blank" class="imCssLink">1-<wbr>10</a>)<br>2. <b>Berdishev
													A.S., Hasanov A.</b> Uchinchi tartibli buziladigan
												tarkibli tenglamalarning bir sinfi uchun xos qiymat
												masalalari (<a
													href="https://drive.google.com/open?id=1Oe70nsePb5npj3FG3vFHZj85msiiUKC-"
													target="_blank" class="imCssLink">11-<wbr>15</a>)<br>3. <b>Karachik
													V.V., Turmetov B.X.</b> Bigarmonik tenglama uchun
												ba'zi-<wbr>bir nolokal chegaraviy masalalarning yechilishi haqida (<a
													href="https://drive.google.com/open?id=1-RzmTWXY9Ugtsl7_qouwAJvlJa4Pi21D"
													target="_blank" class="imCssLink">16-<wbr>22</a>)<br>4. <b>Karimov
													Sh.T.</b> Ko'p o'lchovli umumlashgan
												Erdeyi-<wbr>Kober operatori xossalarining ba'zi umumlashmalari va ularning tatbiqlari (<a
													href="https://drive.google.com/open?id=1JmGpcheVjfAsJfnfTjKISgni5q9pImtn"
													target="_blank" class="imCssLink">23-<wbr>35</a>)<br>5. <b>O'rinov
													A.Q., Oqboyev A.B.</b> Bir buziladigan ikkinchi tur
												tenglama uchun A.M. Naxushev masalasiga o'xshash
												chegaraviy masala (<a
													href="https://drive.google.com/open?id=1424YUNiiIT8ifCY_2s0MR2T8YYbsaCGf"
													target="_blank" class="imCssLink">36-<wbr>45</a>)<br>6. <b>Xoshimov
													A.R.</b> Nostatsionar uchinchi tartibli qo'shma
												tipdagi tenglama uchun boshlang'ich sharti nolokal
												ko'rinishda bo'lgan ikkinchi chegaraviy masala (<a
													href="https://drive.google.com/open?id=1zUu_1aqIYvza6IfcmAJD0GkRXBC6WIpG"
													target="_blank" class="imCssLink">46-<wbr>51</a>)<b><br></b></span>
										</div>
										<div class="imTACenter"><span class="fs10lh1-5"><b><a
														href="https://drive.google.com/open?id=1dc_6prnTT-HT50zP6FeC_Q1Oq0N48PxH"
														target="_blank"
														class="imCssLink">5-<wbr>son</a></b><b><br><br></b></span>
										</div>
										<div><span class="fs10lh1-5">1. <b>Imanbayev N.S., Kangujin
													B.Ye.</b> Bir jinsli chegaraviy shartli
												Koshi-<wbr>Riman operatorining Volterra xossasiga egaligi haqida (<a
													href="https://drive.google.com/open?id=1_Na4KfbSohPjIqjT_6z44w1SeuvSpMWm"
													target="_blank" class="imCssLink">1-<wbr>5</a>)<br>2. <b>Irgashev
													B.Yu.</b> Yuqori tartibli bir tenglamaning
												gipergeometrik funksiyalar orqali ifodalangan avtomodel
												yechimlari to'g'risida (<a
													href="https://drive.google.com/open?id=1cUa6kTVGvnfK6aKhusYUEuX9F6IYet_p"
													target="_blank" class="imCssLink">6-<wbr>10</a>)<br>3. <b>Kadirkulov
													B.J., Turmetov B.X.</b> Adamar turidagi kasr
												tartibli operator qatnashgan
												integro-<wbr>differensial tenglama yechimini qurish usuli haqida (<a
													href="https://drive.google.com/open?id=11HSqH6BeQK73639-JcqC7PazDhMkcCpJ"
													target="_blank" class="imCssLink">11-<wbr>21</a>)<br></span></div>
										<div class="imTAJustify"><span class="fs10lh1-5">4.
												<b>Shermatova X.M.</b> Ikkita tur o'zgarish chizig'iga
												ega bo'lgan uchinchi tartibli
												parabolik-<wbr>giperbolik tenglamalarning bir sinfi uchun chegaraviy masalalarning qo'yilishi haqida (<a
													href="https://drive.google.com/open?id=1_scToLLeGkKUh6ZtRc0ermHaPgdlSXhj"
													target="_blank" class="imCssLink">22-<wbr>29</a>)<br>5.
												<b>Abdullayev A.A.</b> Ikkinchi tur
												elliptik-<wbr>giperbolik tipdagi tenglama uchun chegamayechimining yagonaligi haqida (<a
													href="https://drive.google.com/open?id=1-MkIL24kthszP81hy-tYFw9GJ2BOpDD5"
													target="_blank" class="imCssLink">30-<wbr>35</a>)<br></span></div>
										<div><span class="fs10lh1-5">6. <b>Abdullayev O.X., Matchanova
													A.A.</b> Kaputo operatori qatnashgan uchinchi
												tartibli
												parabolik-<wbr>giperbolik tipdagi yuklangan tenglama uchun nolokal chegaraviy masalalar (<a
													href="https://drive.google.com/open?id=1mxDuSSyc5Jz9b8KkEnfyj-lxfl70x9pz"
													target="_blank" class="imCssLink">36-<wbr>42</a>)<br>7.
												<b>Tashpulatov S.M.</b> Хаbbard modelidagi besh
												elektronli sistema energiya operatorining muhim spektri
												strukturasi va diskret spektri. Beshinchi dublet holati
												(<a href="https://drive.google.com/open?id=1ul1rPSIPY0RAlbAxrcjADWk2JyLGHg9Q"
													target="_blank" class="imCssLink">43-<wbr>52</a>)<b><br></b></span>
										</div>
										<div class="imTACenter"><span class="fs10lh1-5"><b><a
														href="https://drive.google.com/open?id=1EO92qx5jmq6KAkNv0N5-Cv7cAjj5BlqS"
														target="_blank"
														class="imCssLink">6-<wbr>son</a></b><b><br><br></b></span>
										</div>
										<div><span class="fs10lh1-5">1. <b>Apakov Yu.P., Jo'rayev A.X.
												</b>Yarim chegaralangan sohada yopishqoqlikning
												&nbsp;transtovushli tenglamasi uchun bir masala haqida
												(<a href="https://drive.google.com/open?id=1DTgY22qyrA81GurMHw0gkcsHR8VlroYI"
													target="_blank" class="imCssLink">1-<wbr>4</a>)
												<br>2. <b>Dalabayev U.</b> &nbsp;Siljuvchi tugun
												usulining amaliy chegaraviy masalalarga tatbig'i (<a
													href="https://drive.google.com/open?id=13p3Yqm4-6WjZsOvrsF7aLef4W6BPXtuj"
													target="_blank" class="imCssLink">5-<wbr>9</a>)<br>3. <b>Karimov
													K.T.</b> Singulyar koeffitsientli uch o'lchovli
												elliptik tenglama uchun integral shartli nolokal masala
												(<a href="https://drive.google.com/open?id=1FDkvSKCjtu_wntqewGoK9PFdACc07Sbk"
													target="_blank" class="imCssLink">10-<wbr>24</a>)<br>4.
												<b>Mamanazarov A.O.</b>
												Parabolik-<wbr>giperbolik tenglama uchun nolokal masala (<a
													href="https://drive.google.com/open?id=1mac3E_CliGweRkB8OwU_v4aNwXIKnWAR"
													target="_blank" class="imCssLink">25-<wbr>31</a>)<br>5. <b>Xudayarov
													B.A., Turaev F.J., Komilova X. </b>Pasternak asosli
												quvurlarning tebranishini matematik modellashtirish (<a
													href="https://drive.google.com/open?id=19jeXeGcrpCt4Bth0Kl1AeanMMrYijvNQ"
													target="_blank" class="imCssLink">32-<wbr>40</a>)<br>6. <b>Shixiyev
													R.M., Baltabayeva R.B.</b> Konvektivlik hisobga
												olingan ikki komponentli chiziqsiz muhitda
												chang-<wbr>tuz ko'chishi matematik modelining bir xossasi haqida (<a
													href="https://drive.google.com/open?id=1UV3jCfsv3zPrebY41d1abhbIufFBnpNs"
													target="_blank" class="imCssLink">41-<wbr>43</a>)<br>7. <b>Choriyeva
													S.T.</b> Singulyar koeffitsientli aralash tipdagi
												tenglama uchun buzilish chizig'ida Frankl shartli
												masala<br>yagonaligi haqida (<a
													href="https://drive.google.com/open?id=1mluTxBUGpvJp5aM0JskPa_-CxYztwn5K"
													target="_blank" class="imCssLink">44-<wbr>46</a>)<br>8. <b>Churikov
													V.A.</b> Haqiqiy o'zgaruvchili kasr tartibli
												differensial va haqiqiy tartibli o'zgaruvchilarning kasr
												tartibli integrallarining d-<wbr>operatori ( <a
													href="https://drive.google.com/open?id=1q6fIHtL5XGcM9fcsbyebPkvrS8bs_av2"
													target="_blank" class="imCssLink">47-<wbr>52</a>)</span><br></div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="imClear"></div>
	</main>
</div>
{% endblock content %}