{% extends 'base.html' %}
{% load static %}
{% block link %}{% static 'pcss/2019.css'%}{% endblock link %}

{% block name %}2019.html{% endblock name %}

{% block content %}

<div id="imContentContainer">
	<div id="imContentGraphics"></div>
	<main id="imContent">
		<a id="imGoToCont"></a>
		<div class="imContentDataContainer">
			<div id="imBreadcrumb">Arxiv</div>
		</div>
		<div id="imPageRow_1" class="imPageRow">

			<div id="imPageRowContent_1" class="imContentDataContainer">
				<div id="imCell_1" class="">
					<div id="imCellStyleGraphics_1"></div>
					<div id="imCellStyle_1">
						<div id="imTextObject_10_01">
							<div class="text-tab-content" id="imTextObject_10_01_tab0" style="">
								<div class="text-inner">
									<div class="imTACenter"><b class="fs10lh1-5">2019-yilda chop etilgan
											maqolalar</b></div>
									<div class="imTACenter"><b class="fs10lh1-5"><br></b></div>
									<div class="imTACenter"><b><span class="fs10lh1-5"><a
													href="https://drive.google.com/open?id=1RdfMs0C3WscUilho4hOMpva5zdfBIIaz"
													target="_blank" class="imCssLink">1-son</a></span></b></div>
									<div class="imTACenter"><b class="fs10lh1-5"><br></b></div>
									<div class="imTACenter">
										<div class="imTAJustify"><span class="fs10lh1-5">1.
												<b>Toʻxtasinov M.T., Abduolimova G.M., Hayitqulov
													B.X.</b> Chegaralangan jismda issiqlik tarqalishini
												chegaraviy boshqarish (<a
													href="https://drive.google.com/open?id=1jDAOBwpU32KKRGhuNTyGU1unobVhxgVA"
													target="_blank" class="imCssLink">1-10</a>)</span>
										</div>
										<div class="imTAJustify"><span class="fs10lh1-5">2.
												<b>Abdullayev A., Roziqov Oʻ.A.</b> Ijtimoiy gumanitar
												fanlarda matematik usullar sharhi (<a
													href="https://drive.google.com/open?id=1HbUQeD-eaADYekPoaykB36BqQZPW3qo7"
													target="_blank" class="imCssLink">11-18</a>)<br></span></div>
										<div class="imTAJustify"><span class="fs10lh1-5">3. <b>Karimov
													E.T. </b>Xilfer kasr tartibli operatori qatnashgan
												aralash tipdagi tenglama uchun integral ulash shartli
												Trikomi tipidagi chegaraviy masala (<a
													href="https://drive.google.com/open?id=1unuy86wxiWVFk7B8M66h9_ml-CCmEeJn"
													target="_blank" class="imCssLink">19-26</a>)<br></span></div>
										<div class="imTAJustify"><span class="fs10lh1-5">4. <b>Roʻziyev
													M.X.</b> Chegaralanmagan sohada singulyar
												koeffisiyentli Gellerstedt tenglamasi uchun chegaraviy
												xarakteristika bo'laklarida siljishli shartlar berilgan
												masala haqida (<a
													href="https://drive.google.com/open?id=1Pg6pcJR_b6cf6M6azf3KidqWsAcz9mIs"
													target="_blank" class="imCssLink">27-42</a>)<br></span></div>
										<div class="imTALeft"><span class="fs10lh1-5"><br></span></div>
										<div><b><span class="fs10lh1-5"><a
														href="https://drive.google.com/open?id=1U4bugoExChjTJZ5aMv9Ei7PySAv8n1_o"
														target="_blank" class="imCssLink">2-son</a></span></b></div>
										<div><span class="fs10lh1-5"><br></span></div>
										<div class="imTAJustify"><span class="fs10lh1-5">1. <b>Bekiyev
													A.B. </b>Toʻrtinchi tartibli aralash tipdagi
												tenglama uchun bir chegaraviy masalaning yechilishi (<a
													href="https://drive.google.com/open?id=18s1G9RVhpmElLKj-tEAsHGb2UDWGSMfa"
													target="_blank" class="imCssLink">1-6</a>)</span>
										</div>
										<div class="imTAJustify"><span class="fs10lh1-5">2.
												<b>Mamanazarov A.O. </b>Parabolik-giperbolik tenglama
												uchun bir siljishli masala haqida (<a
													href="https://drive.google.com/open?id=15OzQrpuHq8RmvX-4J-uKDletQYOp3i6q"
													target="_blank" class="imCssLink">7-16</a>)<br></span></div>
										<div class="imTAJustify"><span class="fs10lh1-5">3. <b>Roziqov
													Oʻ.A., Xakimov R.M. </b>Keli daraxti ustida HC
												modeli uchun translyatsion-invariant Gibbs oʻlchovining
												chekka oʻlchov boʻlishi (<a
													href="https://drive.google.com/open?id=1peKzbTzKX4DNRxHZS7scwBPLu3xUBLbe"
													target="_blank" class="imCssLink">17-22</a>)<br></span></div>
										<div class="imTAJustify"><span class="fs10lh1-5">4. <b>Ergashev
													T.G.</b> Bitta singular koeffitsiyentli koʻp
												oʻlchivli elliptik tenglama uchun Xolmgren masalasi (<a
													href="https://drive.google.com/open?id=1f_s7OB5nsYRtGGPPyicKbFAvbg1F9ozE"
													target="_blank" class="imCssLink">23-32</a>)<br></span></div>
										<div class="imTAJustify"><span class="fs10lh1-5">5. <b>Jalilov
													M.A. </b>Kasr tartibli differensial operator
												qatnashgan toʻrtinchi tartibli aralash turdagi tenglama
												uchun Samarskiy-Ionkin turidagi masala (<a
													href="https://drive.google.com/open?id=1kR4hbrxwnWng-PJRRD_8hjNgM5q5sZ4T"
													target="_blank" class="imCssLink">33-42</a>)<br></span></div>
										<div class="imTALeft"><span class="fs10lh1-5"><br></span></div>
										<div><b><span class="fs10lh1-5"><a
														href="https://drive.google.com/open?id=1QS8B6XuwUDJ23xBSwHv2FC-IJfu4EQKY"
														target="_blank" class="imCssLink">3-son</a></span></b></div>
										<div><span class="fs10lh1-5"><br></span></div>
										<div class="imTAJustify"><span class="fs10lh1-5">1.
												<b>Murzambetova M.B.</b> Toʻrtinchi tartibli spektral
												parametrli tenglama uchun chegaraviy masala (<a
													href="https://drive.google.com/open?id=1U4bugoExChjTJZ5aMv9Ei7PySAv8n1_o"
													target="_blank" class="imCssLink">1-9</a>)</span>
										</div>
										<div class="imTAJustify"><span class="fs10lh1-5">2. <b>Xoliqov
													D.K.</b> Uchinchi tartibli yuklangan psevdoparabolik
												tenglama uchun integral shartli aralash masala haqida
												(<a href="https://drive.google.com/open?id=18s1G9RVhpmElLKj-tEAsHGb2UDWGSMfa"
													target="_blank" class="imCssLink">10-19</a>)<br></span></div>
										<div class="imTAJustify"><span class="fs10lh1-5">3. <b>Irgashev
													B.Yu.</b> Yuqori tartibli Lavrentyev-Bitsadze
												tenglamasi uchun Dirixle-Neyman tipidagi masala (<a
													href="https://drive.google.com/open?id=15OzQrpuHq8RmvX-4J-uKDletQYOp3i6q"
													target="_blank" class="imCssLink">20-30</a>)<br></span></div>
										<div class="imTAJustify"><span class="fs10lh1-5">4. <b>Parovik
													R.I.</b> Duffingning kasr ossilyatorining majburiy
												tebranishlarini oʻrganish uchun garmonik balans usuli
												(<a href="https://drive.google.com/open?id=1peKzbTzKX4DNRxHZS7scwBPLu3xUBLbe"
													target="_blank" class="imCssLink">31-36</a>)<br></span></div>
										<div class="imTAJustify"><span class="fs10lh1-5">5.
												<b>Sirojitdinov A.A.</b> Bogʻliqsiz vektorlar
												yigʻindilari taqsimotining ayrim asimptotik baholari (<a
													href="https://drive.google.com/open?id=1f_s7OB5nsYRtGGPPyicKbFAvbg1F9ozE"
													target="_blank" class="imCssLink">37-40</a>)<br></span></div>
										<div class="imTAJustify"><span class="fs10lh1-5">6. <b>Xashimov
													A.R.</b> Uchinchi tartibli qo'shma tipdagi
												nostatsionar tenglama uchun umumiy chegeraviy shart
												bilan masala (<a
													href="https://drive.google.com/open?id=1kR4hbrxwnWng-PJRRD_8hjNgM5q5sZ4T"
													target="_blank" class="imCssLink">41-47</a>)<br></span></div>
										<div class="imTAJustify"><span class="fs10lh1-5"><br></span>
										</div>
										<div class="imTACenter"><b><span class="fs10lh1-5"><a
														href="https://drive.google.com/open?id=1--GnDXCsSINN_-3IDgJOYpnDXQoVtdsl"
														target="_blank" class="imCssLink">4-son</a></span></b></div>
										<div class="imTAJustify"><span class="fs10lh1-5">1. <span
													class="imTACenter"><b>Kurbanbaev T.K.</b> $sl_2$ Li
													algebrasi yordamida tuzilgan cheksiz oʻlchamli
													Leibnits </span><span class="imTALeft">algebrasi (<a
														href="https://drive.google.com/open?id=1cQTn_g1e4gIcIE8qmIMVAlRCV86r07tj"
														target="_blank" class="imCssLink">1-8</a>)</span></span></div>
										<div class="imTAJustify"><span class="fs10lh1-5"><span class="imTALeft">2.
												</span><span class="imTACenter"><b>Karimov E.T., Toshtemirov
														B.H.</b> Giper-Bessel kasr tartibli differensial
													operatori </span><span class="imTALeft">qatnashgan
													aralash tipdagi tenglama uchun integral ulash
													shartli Trikomi tipidagi </span><span class="imTALeft">masala (<a
														href="https://drive.google.com/open?id=12cps2U5CWA6fJKC3JADn87_biB6jyIzH"
														target="_blank" class="imCssLink">9-14</a>)</span></span></div>
										<div class="imTAJustify"><span class="fs10lh1-5"><span class="imTALeft">3.
												</span><span class="imTACenter"><b>Artikov M., Mirsaburova
														U.M.</b> Aralash turdagi tenglama uchun Trikomi
													sharti </span><span class="imTACenter">chegaraviy
													xarakteristikada toʻliq berilmagan va ichki
													xarakteristikada Frankl </span><span class="imTACenter">shartiga
													oʻxshash shart berilgan
													masala (<a
														href="https://drive.google.com/open?id=161_ZLKk0Ll-SeJFtmZoT3a_UdmZyJQAf"
														target="_blank" class="imCssLink">15-35</a>)</span></span></div>
										<div class="imTAJustify"><span class="fs10lh1-5"><span class="imTACenter">4.
												</span><span class="imTACenter"><b>Zikirov O.S., Jumagul G.O.</b>
													Uchinchi tartibli giperbolik tenglama uchun Gursa-
												</span><span class="imTACenter">Dirixle masalasi (<a
														href="https://drive.google.com/open?id=1LlR5xvhbAL3nwcOPY-qb7adAZsDcS6ms"
														target="_blank" class="imCssLink">36-41</a>)</span></span></div>
										<div class="imTAJustify"><span class="fs10lh1-5"><span class="imTACenter">5.
												</span><span class="imTACenter"><b>Norjigitov A.F., Sharipov
														O.Sh.</b> D[0,1] fazoda qiymat qabul qiluvchi
													kuchsiz </span><span class="imTACenter">bogʻlangan
													tasodifiy miqdorlar uchun katta sonlar qonuni (<a
														href="https://drive.google.com/open?id=11jJbyfxy6PqvBM8EyiufX2HBxh6tw-jY"
														target="_blank" class="imCssLink">42-45</a>)</span></span></div>
										<div class="imTAJustify"><span class="fs10lh1-5"><span class="imTACenter">6.
												</span><span class="imTACenter"><b>Oqboyev A.B.</b> Ikkinchi tur
													buziluvchi giperbolik tipdagi bir tenglama uchun
												</span><span class="imTACenter">siljishli masalalar (<a
														href="https://drive.google.com/open?id=1xuPM2IL6fym2XPzTffd0fegYFnSZmi8t"
														target="_blank" class="imCssLink">46-55</a>)</span></span></div>
										<div class="imTAJustify"><span class="fs10lh1-5"><span class="imTACenter">7.
												</span><span class="imTACenter">K.K.Moʻminovning ilmiy va
													pedagogik faoliyati haqida qisqacha ocherk (<a
														href="https://drive.google.com/open?id=166wjRBM0wDpoQ2urPcU0lEUCyM-oLV0l"
														target="_blank" class="imCssLink">56-58</a>)</span></span></div>
										<div class="imTAJustify"><span class="fs10lh1-5"><br></span>
										</div>
										<div class="imTACenter"><a
												href="https://drive.google.com/open?id=1WoTmxEz1UCafrQGE-NBQoG7cHpuePTc2"
												target="_blank" class="imCssLink"><b class="fs10lh1-5">5-son</b></a>
										</div>
										<div class="imTACenter"><span class="fs10lh1-5"><br></span>
										</div>
										<div class="imTAJustify">
											<div><span class="fs10lh1-5">1. <b>Khomidova S.M., Nazarov
														H.A., Karimov U.Sh.</b> Oddiy haqiqiy
													C*-algebralarining differensiallanishi (<a
														href="https://drive.google.com/open?id=1zfz_jBnMi74XFcOcd0h5WVYv-h_PbWlr"
														target="_blank" class="imCssLink">1-3</a>)<br></span></div>
											<div><span class="fs10lh1-5">2. <b>Abdullayev B.I., Sharipov
														R.A.</b> Lokal va global 𝛼-polyar to'plamlar
													(<a href="https://drive.google.com/open?id=13mpV-nICv4ZNoBw08F9Z5lHxVxt8jajX"
														target="_blank" class="imCssLink">4-8</a>)<br></span></div>
											<div><span class="fs10lh1-5">3. <b>Allakov I., Safarov
														A.Sh.</b> Arifmetik progressiyadan olingan tub
													son va tub sonning darajalari yig`indisi
													ko`rinishida ifodalash masalasining maxsus to`plami
													haqida (<a
														href="https://drive.google.com/open?id=1COVuzM6oe7lcjt4kw_Lzfx3ojDkdYlBp"
														target="_blank" class="imCssLink">9-21</a>)<br></span></div>
											<div><span class="fs10lh1-5">4. <b>Jo’rayev T.F.</b>
													Dugundji fazolari va Tych kategoriyasida absolyut
													ekstenzorlar (<a
														href="https://drive.google.com/open?id=1Yd8ayAr-DccZGKN7BERhKHYLgztG0b-x"
														target="_blank" class="imCssLink">22-27</a>)<br></span></div>
											<div><span class="fs10lh1-5">5. <b>Imanbayev N.S., Ospanov
														M.N. </b>Qo'shma tipdagi uchinchi tartibli
													tenglamalarning regulyar shartlarni
													qanoatlantiruvchi xos qiymatlarining taqsimoti (<a
														href="https://drive.google.com/open?id=1oy-ye1jfLF7cadJXTyHWl2no_rKSKD4C"
														target="_blank" class="imCssLink">28-33</a>)</span></div>
											<div><span class="fs10lh1-5">6. <b>Parovik R.I.</b> Eyri
													kasr ossilyatori uchun Koshi masalasi (<a
														href="https://drive.google.com/open?id=1Bet99_B-4xerkgnDQJpLPJTPOHNKduPA"
														target="_blank" class="imCssLink">34-39</a>)<br></span></div>
											<div><span class="fs10lh1-5">7. <b>Sobirov Z.A., Raximov
														K.U.</b> Yulduzsimon grafda vaqt bo`yicha kasr
													tartibli hosilali Eyri tenglamasi uchun Koshi
													masalasi (<a
														href="https://drive.google.com/open?id=1GOQb3QchQqyI_IQqdEtPAxBYpiERPcpX"
														target="_blank" class="imCssLink">40-49</a>)<br></span></div>
											<div><span class="fs10lh1-5">8. <b>Hasanov A., Ergashev
														T.G.</b> Uch o'zgaruvchili Laurichella
													gipergeometrik funksiyalari uchun analitik davom
													ettirish formulalari (<a
														href="https://drive.google.com/open?id=1PT_KRGlwmzkbcQ_OOp4HzZ-1jEWES_yf"
														target="_blank" class="imCssLink">50-58</a>)<br></span></div>
											<div><span class="fs10lh1-5">9. <b>Sharaxmetov Sh.</b> Ikki
													o'lchovli binom taqsimotining xossalari (<a
														href="https://drive.google.com/open?id=1I23wxDOVz0ARWAD1jbh-KXBxVcoSkYDm"
														target="_blank" class="imCssLink">59-68</a>)<br></span></div>
										</div>
										<div class="imTAJustify"><span class="fs10lh1-5"><br></span>
										</div><a
											href="https://drive.google.com/open?id=1eYKn08XinP38PJ3wgBxd_2TOOYl6Pobm"
											target="_blank" class="imCssLink"><b class="fs10lh1-5">6-son</b></a>
									</div>
									<div class="imTACenter"><span class="fs10lh1-5"><br></span></div>
									<div class="imTACenter">
										<div class="imTAJustify"><span class="fs10lh1-5"><b>1. Baratov
													&nbsp;I. I., &nbsp;Dexqonov F. N., &nbsp;Komilov N.
													M.</b> &nbsp;Issiqlik almashish jarayoni bilan
												bog’liq bo’lgan teskari masala (<a
													href="https://drive.google.com/open?id=1jDmhlZW3AgneGvlGF1c_hXEuEEPMyrgt"
													target="_blank" class="imCssLink">1-6</a>)</span>
										</div>
										<div class="imTAJustify"><span class="fs10lh1-5"><b>2. Axmedov
													S.A., Ablazova K.S.</b><b> &nbsp;</b>Ikki son
												belgisining korrelyatsiyasini aniqlovchi statistik
												gipotezalarga &nbsp;asoslangan ba’zi nazorat kartalar
												(<a href="https://drive.google.com/open?id=1HR3peH89hJnmB_t_vBClt8EKdmXO0jUH"
													target="_blank" class="imCssLink">7-12</a>)<br></span></div>
										<div class="imTALeft"><span class="fs10lh1-5"><b class="imTAJustify">3. Djalilov
													&nbsp;A.A.,
													Abduxakimov S.X. </b><span class="imTAJustify">Feygembaum noturg’un
													separatrisasining &nbsp;davriy nuqtalari (<a
														href="https://drive.google.com/open?id=1b7QYjJwlaWGeBW9hmFqxF1fGhox0C4CQ"
														target="_blank" class="imCssLink">13-16</a>)</span><br></span>
										</div>
										<div class="imTAJustify"><span class="fs10lh1-5"><b>4. Jo’rayev
													Sh.Yu.</b> Kasr-chiziqli &nbsp;hosil qiluvchi
												funksiya hosil qilgan Galton-Vatson tarmoqlanuvchi
												jarayoni (<a
													href="https://drive.google.com/open?id=1H147K7cBdIwOxKqO5Tp8yF_QPrfwuNuG"
													target="_blank" class="imCssLink">17-22</a>)<br></span></div>
										<div class="imTAJustify"><span class="fs10lh1-5"><b>5. Irgashev
													B.Yu. </b>Kichik &nbsp;hadlarga ega bo‘lgan yuqori
												tartibli buziluvchan tenglama uchun chegaraviy
												&nbsp;masala (<a
													href="https://drive.google.com/open?id=14-IgpYJhXgvixXcnIw1N7JXkkbEKsy1f"
													target="_blank" class="imCssLink">23-30</a>)<br></span></div>
										<div class="imTAJustify"><span class="fs10lh1-5"><b></b></span>
										</div>
										<div class="imTAJustify"><span class="fs10lh1-5"><b>6.
													Kushmurodov A.A. </b>Banax &nbsp;fazosida qiymat
												qabul qiluvchi m-bog’liq tasodifiy miqdorlar
												ketma-ketligi &nbsp;uchun kuchaytirilgan katta sonlar
												qonuni (<a
													href="https://drive.google.com/open?id=1lf_LM8PJN7VXA_4lxTePsorAiZKRW37Z"
													target="_blank" class="imCssLink">31-34</a>)<br></span></div>
										<div class="imTAJustify"><span class="fs10lh1-5"><b></b></span>
										</div>
										<div class="imTAJustify"><span class="fs10lh1-5"><b>7. Mamurov
													B.J.</b> Chekli &nbsp;o’lchovli bir jinsli kubik
												stoxastik jarayonlar uchun evolyutsion tenglamalar (<a
													href="https://drive.google.com/open?id=1DotaXgmgpV3DzlaMjU3kWMjvfYhBWEE2"
													target="_blank" class="imCssLink">35-39</a>)<br></span></div>
										<div class="imTAJustify"><span class="fs10lh1-5"><b></b></span>
										</div>
										<div class="imTAJustify"><span class="fs10lh1-5"><b>8. Nishonova
													Sh.T. </b>Bir &nbsp;elliptik-parabolik tenglama
												uchun birinchi va ikkinchi tur integral shartli
												&nbsp;nolokal masala (<a
													href="https://drive.google.com/open?id=13LawLgOvU2vd1YSGfIrhhltHgJ0WsWV4"
													target="_blank" class="imCssLink">40-46</a>)<br></span></div>
										<div class="imTAJustify"><span class="fs10lh1-5"><b></b></span>
										</div>
										<div class="imTALeft"><span class="fs10lh1-5"><b class="imTAJustify">9. Parovik
													&nbsp;R.I.</b><span class="imTAJustify"> </span><span
													class="imTAJustify">Duffing kasr ossilyatorining
													dinamik gisterezi (<a
														href="https://drive.google.com/open?id=1uOuo9XH0LieYjmQF8PrZu1FdhoekgvdR"
														target="_blank" class="imCssLink">47-51</a>)</span><br></span>
										</div>
										<div class="imTALeft"><span class="fs10lh1-5"><b class="imTAJustify">10.
													Xusanboyev &nbsp;Yo.M.,
													Qudratov X.E. </b><span class="imTAJustify">Immigratsiyali
													tarmoqlanuvchi
													tasodifiy &nbsp;jarayonlar uchun ba’zi tengsizliklar
													(<a href="https://drive.google.com/open?id=1jbVGoL6ucW-aVkKuHrNAxM-fCThuVRfQ"
														target="_blank" class="imCssLink">52-56</a>)</span><br></span>
										</div>
										<div class="imTALeft"><span class="fs10lh1-5"><b class="imTAJustify">11.
													Ro’ziyev &nbsp;M.X.
												</b><span class="imTAJustify">Aralash tipdagi
													tenglamalarning bir sinfi uchun nolokal
													&nbsp;chegaraviy masala haqida (<a
														href="https://drive.google.com/open?id=1ocx-d49B0KWDxPGh_U2JvVo2vzKzSU4C"
														target="_blank" class="imCssLink">57-61</a>)</span><br></span>
										</div>
										<div class="imTAJustify"><span class="fs10lh1-5"><b></b></span>
										</div>
										<div class="imTALeft"><span class="fs10lh1-5"><b class="imTAJustify">12. Fayazov
													&nbsp;Q.S.,
													Xudayberganov Ya.K. </b><span class="imTAJustify">Ikkita buzilish
													chizig’iga ega
													bo’lgan &nbsp;ikkinchi tartibli xususiy hosilali
													tenglamalar sistemasi uchun nokorrekt
													&nbsp;chegaraviy masala (<a
														href="https://drive.google.com/open?id=1Eq1SDO7bCf6pBxXQ8rlkISJQlP0CrC2X"
														target="_blank" class="imCssLink">62-68</a>)</span><br></span>
										</div>
										<div class="imTALeft"><span class="fs10lh1-5"><b class="imTAJustify">13.
													Sharipov &nbsp;O.Sh.,
													Ro’ziyeva D.S. </b><span class="imTAJustify">Gilbert
													fazosida qiymat qabul qiluvchi &nbsp;tasodifiy
													maydonlar uchun markaziy limit teorema (<a
														href="https://drive.google.com/open?id=1DGfanGyXF_v_2cc-n35Ly1aR_swh6qqJ"
														target="_blank" class="imCssLink">69-72</a>)</span><br></span>
										</div>
										<div class="imTALeft"><span class="fs10lh1-5"><b class="imTAJustify">14. Xasanov
													&nbsp;A., Rujanskiy
													M. </b><span class="imTAJustify">Ikkinchi tartibli
													uch o’zgaruvchili &nbsp;gipergeometrik funksiyalar
													uchun Eyler tipidagi integral ko’rinishlar (<a
														href="https://drive.google.com/open?id=1JlWBZr3riCnhUc5rng7WO9wRfp-GQHaO"
														target="_blank" class="imCssLink">73-223</a>)</span><br></span>
										</div>
									</div>
									<div><br></div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="imClear"></div>
	</main>
</div>
{% endblock content %}