{% extends 'base.html' %}
{% load static %}
{% block link %}{% static 'pcss/2020.css'%}{% endblock link %}

{% block name %}2020.html{% endblock name %}

{% block content %}

<div id="imContentContainer">
	<div id="imContentGraphics"></div>
	<main id="imContent">
		<a id="imGoToCont"></a>
		<div class="imContentDataContainer">
			<h2 id="imPgTitle">2020</h2>
			<div id="imBreadcrumb">Arxiv</div>
		</div>
		<div id="imPageRow_1" class="imPageRow">

			<div id="imPageRowContent_1" class="imContentDataContainer">
				<div id="imCell_1" class="">
					<div id="imCellStyleGraphics_1"></div>
					<div id="imCellStyle_1">
						<div id="imTextObject_11_01">
							<div class="text-tab-content" id="imTextObject_11_01_tab0" style="">
								<div class="text-inner">
									<div class="imTACenter"><b class="fs10lh1-5">2020-yilda chop etilgan
											maqolalar </b></div>
									<div class="imTACenter"><b class="fs10lh1-5"><br></b></div>
									<div class="imTACenter"><b><span class="fs10lh1-5"><a
													href="https://drive.google.com/open?id=1HY52q_KYrLECaCWRaqvqUOLNNz4R_RIl"
													target="_blank" class="imCssLink">1-son</a></span></b></div>
									<div class="imTALeft"><span class="fs10lh1-5"><b class="imTAJustify">1. </b><b
												class="imTAJustify">Allen
												I. K., Duggal D., Nasir S., Karimov E. T.</b><span class="imTAJustify">
											</span><span class="imTAJustify">Riman-Liuvil va Atangana-Baleanu
												hosilalari ishtirok etgan</span><span class="imTAJustify"> </span><span
												class="imTAJustify">
											</span><span class="imTAJustify">vaqt bo’yicha kasr tartibli
												to’lqin tenglamasi uchun chegaraviy masala haqida
												(</span><span class="imTAJustify"><a
													href="https://drive.google.com/open?id=1dueQfntv0l27BGCALoIxbCOVsRY_p7-U"
													target="_blank" class="imCssLink">1-9</a></span><span
												class="imTAJustify">)</span><br></span></div>
									<div class="imTAJustify"><span class="fs10lh1-5"><b>2.</b> <b>Alimov
												Sh. A., Yuldasheva A. V. </b>Bussinesq tipdagi tenglama
											uchun Koshi masala haqida (<a
												href="https://drive.google.com/open?id=15FEeatiSTVfpIj6Hk8TZ4P6HJ_ksG0Tu"
												target="_blank" class="imCssLink">10-14</a>)</span>
									</div>
									<div class="imTAJustify"><span class="fs10lh1-5"><b>3.
											</b><b>Babajanov B. A., Ruzmetov M. M., Babajanov A. B.
												&nbsp;</b>Integral manbali Toda zanjiri tipidagi
											tenglamani integrallash haqida (<a
												href="https://drive.google.com/open?id=1QETizHnmjRrtJfa4jmVgRV5121lV-Xpj"
												target="_blank" class="imCssLink">15-26</a>)</span>
									</div>
									<div class="imTAJustify"><span class="fs10lh1-5"><b>4.
											</b><b>Mo’ydinjonov D.R.</b> Uchta singulyar koeffitsiyentli
											Gelmgolts tenglamasi uchun Dirixle masalasi (<a
												href="https://drive.google.com/open?id=1kx07ZN-ewoN8JXVUsIRzX1LsjkjbvVQU"
												target="_blank" class="imCssLink">27-36</a>)</span>
									</div>
									<div class="imTAJustify"><span class="fs10lh1-5"><b>5.
											</b><b>Ro’zimurodova D. H., Azamova N. A. </b>Limit to’plami
											to’rtta to’g’ri chiziqdan tashkil topgan analitik
											3<i>D</i>-sistema (<a
												href="https://drive.google.com/open?id=18_1OEQ-urRT5oNP3hxuW6ny5HBeb6RZ_"
												target="_blank" class="imCssLink">37-40</a>)</span>
									</div>
									<div class="imTAJustify"><span class="fs10lh1-5"><b>6.</b>
											<b>Abdushukurov F. A., Chuprunov A. N. </b>Puasson
											taqsimotiga ega tasodofiy miqdorni Gauss taqsimotiga ega
											tasodofiy miqdorga approksimatsiyasi haqida (<a
												href="https://drive.google.com/open?id=1H82Qq4TkU4CsHII0rEhXgk8G-Lmp9rrX"
												target="_blank" class="imCssLink">41-49</a>)</span>
									</div>
									<div class="imTAJustify"><span class="fs10lh1-5"><b>7. </b><b>Azamov
												S. S. </b>Differensial operatorning diskret analogini
											qurish masalasi (<a
												href="https://drive.google.com/open?id=1sdjRjyNAJoQ4jAYpriRElpI88xiK21LY"
												target="_blank" class="imCssLink">50-58</a>)</span>
									</div>
									<div class="imTAJustify"><span class="fs10lh1-5"><b>8.
											</b><b>Qodirqulov B. J., Jalilov M. A. </b>Нilfer operatori
											qatnashgan to’rtinchi tartibli aralash tipdagi tenglama
											uchun nolokal masala (<a
												href="https://drive.google.com/open?id=1oSBWErQLXDOIZ0-wGz3FewxMyhxx7CV6"
												target="_blank" class="imCssLink">59-67</a>)</span>
									</div>
									<div class="imTAJustify"><span class="fs10lh1-5"><b>9.
											</b><b>Mamadaliyev U. X. &nbsp;</b><i>Nm;n
												&nbsp;</i>nilradikalli yechiluvchan Leybniz
											algebralarining tasnifi (<a
												href="https://drive.google.com/open?id=1rCcQCmx0XqivDYaAGYep2G_z0fpmQeAy"
												target="_blank" class="imCssLink">68-74</a>)</span>
									</div>
									<div class="imTAJustify"><span class="fs10lh1-5"><b>10.
											</b><b>Mamanazarov A. O. </b>Singulyar koeffitsiyentli
											parabolik-giperbolik tenglama uchun Trikomi masalalari (<a
												href="https://drive.google.com/open?id=18sF9mkzf3OV_vrbWGN_PVI686VhYEtIM"
												target="_blank" class="imCssLink">75-89</a>)</span>
									</div>
									<div class="imTAJustify"><span class="fs10lh1-5"><b>11.
											</b><b>Nurmuhamedova N. S. </b>Umumlashgan gibrid
											senzurlashning raqobatdosh tavakkallar modelida statistik
											eksperimentning lokal asimptotik normalligi (<a
												href="https://drive.google.com/open?id=14xJ8SDV_n8fgEb3013qKdV7bj5657xZr"
												target="_blank" class="imCssLink">90-94</a>)</span>
									</div>
									<div class="imTAJustify"><span class="fs10lh1-5"><b>12.
											</b><b>Oqboyev A. B. </b>Parabolo-giperbolik tipdagi
											tenglama uchun Trikomi masalasi (<a
												href="https://drive.google.com/open?id=1Yye35ZlXWnADjzGJHK6qkeHiSxk23STR"
												target="_blank" class="imCssLink">95-103</a>)</span>
									</div>
									<div class="imTAJustify"><span class="fs10lh1-5"><b>13. </b>Ahmadjon
											Qo’shoqovich O’rinov (70 yillik yubileyiga bag’ishlanadi)
											(<a href="https://drive.google.com/open?id=1MBTzNO088WNhsGGe2VLhJmg8Qg1T70UJ"
												target="_blank" class="imCssLink">104-106</a>)</span>
									</div>
									<div class="imTAJustify"><span class="fs10lh1-5"><b>14.
											</b><b>Fayziyev A. A., Turg’unov T. T.</b> O’zbekiston
											Respublikasida paxta hosildorligi dinamikasini statistik
											tahlil qilish va bashoratlash (<a
												href="https://drive.google.com/open?id=1Pq07oXDZ9viVfa9vXydwUd1i_sClX3RT"
												target="_blank" class="imCssLink">107-111</a>)</span>
									</div>
									<div class="imTAJustify"><span class="fs10lh1-5"><b>15.
											</b><b>Fayazova Z. K. </b>Issiqlik almashinuvi jarayonini
											chegarada berilgan issiqlik oqimi bilan chegaraviy
											boshqarish (<a
												href="https://drive.google.com/open?id=11pas8c5pB5vBTmPoBFW3EqAiN3OzVixY"
												target="_blank" class="imCssLink">112-117</a>)</span>
									</div>
									<div class="imTAJustify"><span class="fs10lh1-5"><b>16.
											</b><b>Fayazov K. S., Xajiyev I. O. </b>Bitta chiziqda
											buzilishga ega ikkinchi tartibli differensial tenglama uchun
											chegaraviy masala (<a
												href="https://drive.google.com/open?id=1_tdJH5mTN4qg8eFPKLv_FdHZHrkyukzH"
												target="_blank" class="imCssLink">118-126</a>)</span>
									</div>
									<div class="imTAJustify"><span class="fs10lh1-5"><b>17.</b>
											<b>Ergashev T.G., Safarbayeva N.M. </b>Bitta singular
											koeffisientli ko’p o’lchivli Gelmgolts tenglamasi uchun
											Xolmgren masalasi (<a
												href="https://drive.google.com/open?id=1AbJcB--z-4W6kuu3NfEx1nj2QpQLOCCw"
												target="_blank" class="imCssLink">127-135</a>)</span>
									</div>
									<div class="imTAJustify"><span class="fs10lh1-5"><br></span></div>
									<div class="imTACenter"><b><span class="fs10lh1-5"><a
													href="https://drive.google.com/open?id=10YYbAJZYrBeq8DQshXYeYdGLn7ydyLXQ"
													target="_blank" class="imCssLink">2-son</a></span></b></div>
									<div class="imTAJustify"><span class="fs10lh1-5"><span class="imTALeft">1. </span><b
												class="imTALeft">Babadjonava A. K. </b><span class="imTALeft">Moslangan
												manbali matrisaviy
												Ablovits-Ladik sistemasini </span><span class="imTALeft">integrallash
												(<a href="https://drive.google.com/open?id=1W32qFg7EZCcotflyRFZtorkQhIBvU-jy"
													class="imCssLink">1-10</a>)</span><br></span></div>
									<div class="imTAJustify">
										<div class="imTALeft"><span class="fs10lh1-5">2. <b>Prenov B. B.
													&nbsp;</b>Algebraik bo’lmagan tenglamalar
												sistemalariga ba’zi misollar (<a
													href="https://drive.google.com/open?id=1RbXDAL22Q8-_VZiNowetaU-6UGUwcgSh"
													target="_blank" class="imCssLink">11-18</a>)<br></span></div>
										<div class="imTALeft"><span class="fs10lh1-5">3. <b>Roziqov O’.
													A., Shoyimardonov S. K. </b>O’zbekistonda
												koronavirus (COVID-19) ning modeli va bashorati (<a
													href="https://drive.google.com/open?id=17DspizhJJPWVnHbD5ffKP9vbnaU6bI0X"
													target="_blank" class="imCssLink">19-21</a>)<br></span></div>
										<div class="imTALeft"><span class="fs10lh1-5">4. <b>Seytov Sh.
													J., Ganixodjayev R. N. </b>Ba’zi ikki o’lchovli
												dinamik sistemalar uchun grafik tahlil &nbsp;usuli (<a
													href="https://drive.google.com/open?id=1fuFOxM_ydDmT42I6Pbbq72u5yqp4tlSO"
													target="_blank" class="imCssLink">22-26</a>)<br></span></div>
										<div class="imTALeft"><span class="fs10lh1-5">5. <b>Abdurasulov
													K. K. </b>Inder ($W_n$)<v:shapetype coordsize="21600,21600"
													o:spt="75" o:preferrelative="t" path="m@4@5l@4@11@9@11@9@5xe"
													filled="f" stroked="f">
													<v:stroke joinstyle="miter"></v:stroke>
													<v:formulas>
														<v:f eqn="if lineDrawn pixelLineWidth 0"></v:f>
														<v:f eqn="sum @0 1 0"></v:f>
														<v:f eqn="sum 0 0 @1"></v:f>
														<v:f eqn="prod @2 1 2"></v:f>
														<v:f eqn="prod @3 21600 pixelWidth"></v:f>
														<v:f eqn="prod @3 21600 pixelHeight"></v:f>
														<v:f eqn="sum @0 0 1"></v:f>
														<v:f eqn="prod @6 1 2"></v:f>
														<v:f eqn="prod @7 21600 pixelWidth"></v:f>
														<v:f eqn="sum @8 21600 0"></v:f>
														<v:f eqn="prod @7 21600 pixelHeight"></v:f>
														<v:f eqn="sum @10 21600 0"></v:f>
													</v:formulas>
													<v:path o:extrusionok="f" gradientshapeok="t" o:connecttype="rect">
													</v:path>
													<o:lock v:ext="edit" aspectratio="t"></o:lock>
												</v:shapetype>
												<v:shape type="#_x0000_t75" o:ole="">
													<v:imagedata
														src="file:///C:/Users/Erkinjon/AppData/Local/Temp/msohtmlclip1/01/clip_image001.wmz"
														o:title=""></v:imagedata>
												</v:shape> va $W_{n-1}$<v:shape type="#_x0000_t75" o:ole="">
													<v:imagedata
														src="file:///C:/Users/Erkinjon/AppData/Local/Temp/msohtmlclip1/01/clip_image002.wmz"
														o:title=""></v:imagedata>
												</v:shape> algebralarining izomorfligi (<a
													href="https://drive.google.com/open?id=14JMfA0XfN9l-D6s7mwhDmEl1t87dGZWn"
													target="_blank" class="imCssLink">27-33</a>)<br>
											</span></div>
										<div class="imTALeft"><span class="fs10lh1-5">6. <b>Boltayev A.
													K., &nbsp;Axmedov D. M. </b>Bir kvadratur
												formulaning ekstremal funksiyasi (<a
													href="https://drive.google.com/open?id=1ddedh3_-7cYclJU7TdUtso_suOHKQa7n"
													target="_blank" class="imCssLink">34-38</a>)<br></span></div>
										<div class="imTALeft"><span class="fs10lh1-5">7. <b>Boltayev N.
													D. </b>Fur’ye integrallarini taqribiy hisoblash
												uchun optimal kvadratur formula koeffitsiyentlari (<a
													href="https://drive.google.com/open?id=130Mw4okbRU0x6L7XnRHbM_lZEqjIUKBU"
													target="_blank" class="imCssLink">39-46</a>)<br></span></div>
										<div class="imTALeft"><span class="fs10lh1-5">8. <b>Islomov B.
													I., Ubaydullayev &nbsp;U. Sh. </b>To’rtburchak
												sohada Kaputo ma’nosidagi kasr tartibli operatori
												qatnashgan parabolik - giperbolik tipdagi tenglama uchun
												ikkinchi tur chegaraviy sharti bilan berilgan masala
												haqida (<a
													href="https://drive.google.com/open?id=1bIs1fMPGalx3u9sr-7yv8tnHfGGL9039"
													target="_blank" class="imCssLink">47-57</a>)<br></span></div>
										<div class="imTALeft"><span class="fs10lh1-5">9. <b>Ismoilov A.
													S. </b>Yo’lakda integral geometriya masalasi
												yechimining yagonaligi va mavjudligi (<a
													href="https://drive.google.com/open?id=1uVpuMMkl7R5CPslvGrRpOVedpg0Id-29"
													target="_blank" class="imCssLink">58-67</a>)<br></span></div>
										<div class="imTALeft"><span class="fs10lh1-5">10. <b>Karimov K.
													T. </b>Yarim cheksiz parallelepipedda uchta
												singulyar koeffitsiyentga ega bo’lgan aralash tipdagi
												tenglama uchun Dirixle tipidagi masala (<a
													href="https://drive.google.com/open?id=1eVg44FmTZn7cafychaRejAKw2HAwogiX"
													target="_blank" class="imCssLink">68-82</a>)<br></span></div>
										<div class="imTALeft"><span class="fs10lh1-5">11. <b>Kakadjonova
													L. R. </b>Bog’liqsizlikning ketma-ketlik integral
												empirik protseslari uchun tekis Glivenko-Kantelli va
												Donsker tipidagi teoremalari (<a
													href="https://drive.google.com/open?id=1Z8E5r3k4CXeIp-hJ6gb-Pb5eMdviAmx3"
													target="_blank" class="imCssLink">83-91</a>)<br></span></div>
										<div class="imTALeft"><span class="fs10lh1-5">12. <b>Muxamedov
													A. K., Kobilov U. X. </b>Kvadrantda kuchli musbat
												bog’liqli tasodifiy miqdorlarning ikki tanlanmalar
												ketma-ketligi uchun Vilkokson-Mann-Uitni
												statistikasining asimptotik normalligi (<a
													href="https://drive.google.com/open?id=1Q678QPfsGnE4SUMGYRheB2cfQPWRC0vc"
													target="_blank" class="imCssLink">92-96</a>)<br></span></div>
										<div class="imTALeft"><span class="fs10lh1-5">13. <b>Safarov J.
													Sh. </b>Chekli sohada boshlang’ich shartlari silliq
												bo’lgan integro-differensial tenglama yadrosini aniqlash
												masalasi (<a
													href="https://drive.google.com/open?id=1Lup03g0CX3xIeEEo-6ohJXNonS1Iuwtv"
													target="_blank" class="imCssLink">97-102</a>)<br></span></div>
										<div class="imTALeft"><span class="fs10lh1-5">14. <b>Usmonov B.
													Z. </b>Uchinchi tartibli elliptik-gipеrbolik
												opеratori qatnashgan tеnglama uchun nolokal masala (<a
													href="https://drive.google.com/open?id=1RQzzZpdHHCqqAW78NeoUvfkEDYP6-dPZ"
													target="_blank" class="imCssLink">103-110</a>)<br></span></div>
										<div class="imTALeft"><span class="fs10lh1-5"><br></span></div>
										<div class="imTACenter"><b><span class="fs10lh1-5"><a
														href="https://drive.google.com/file/d/1EWiI_hHeh3KDhfT-2Nd4qCT7Tu3dqLNL/view?usp=sharing"
														target="_blank" class="imCssLink">3-son</a></span></b></div>
										<div class="imTACenter">
											<div class="imTALeft"><span class="fs10lh1-5">1. <b>Aralova
														K. A., Jamilov U. U.</b> Novolterra kvadratik
													stoxastik operatorlari superpozitsiyaning dinamikasi
													(<a href="https://drive.google.com/file/d/1aU76zwj_bToVoazHLDnnPDQ4rLJUfll0/view?usp=sharing"
														target="_blank" class="imCssLink">1-14</a>)</span></div>
											<div class="imTALeft"><span class="fs10lh1-5">2. <b>Durdiev
														D. K., Nuriddinov Z. Z.</b> O‘zgaruvchan
													issiqlik o‘tkazuvchanlik koeffitsientli issiqlik
													tarqalish integro-differensial tenglamasidan yadroni
													aniqlash masalasi (<a
														href="https://drive.google.com/file/d/1rL2Wg7Sy_Op2bg5tmej-BMnNV7zqAhB9/view?usp=sharing"
														target="_blank" class="imCssLink">15-26</a>)<br></span></div>
											<div class="imTALeft"><span class="fs10lh1-5">3.
													<b>Eshkabilov Y. Kh., Nodirov Sh. D.</b> Kvartik
													operatorlarning musbat qo’zg’almas nuqtalari haqida
													(<a href="https://drive.google.com/file/d/1ShZrHr9lK11NHrdrYx_mBGbPm4RmuuwP/view?usp=sharing"
														target="_blank" class="imCssLink">27-36</a>)
													<br></span></div>
											<div class="imTALeft"><span class="fs10lh1-5">4.
													<b>Imomkulov A. N.</b> Chekli o’lchamli algebraning
													approksimatsiyasi bo’lgan evolyutsion algebraning
													absolyut nilpotent elementlari haqida (<a
														href="https://drive.google.com/file/d/1jtJo8wQg55Fw8bPk8PVxaqsQvurM9GpH/view?usp=sharing"
														target="_blank" class="imCssLink">37-41</a>)<br></span></div>
											<div class="imTALeft"><span class="fs10lh1-5">5. <b>Ishmetov
														A. Ya. </b>Idempotent ehtimolliklar o‘lchovlari
													fazosining C-xossalari haqida (<a
														href="https://drive.google.com/file/d/1TXTciQojzZwUEHiYw_59Is9JQ13LSE05/view?usp=sharing"
														target="_blank" class="imCssLink">42-48</a>)<br></span></div>
											<div class="imTALeft"><span class="fs10lh1-5">6. <b>Mamatov
														M. Sh., Nuritdinov J. T.</b> Minkovskiy
													yig‘indisini va ayirmasini hisoblashga doir ba‘zi
													qonuniyatlar haqida (<a
														href="https://drive.google.com/file/d/1TXTciQojzZwUEHiYw_59Is9JQ13LSE05/view?usp=sharing"
														target="_blank" class="imCssLink">49-59</a>)<br></span></div>
											<div class="imTALeft"><span class="fs10lh1-5">7.
													<b>Mustapokulov Kh. Y.</b> Impulsli boshqariladigan
													issiqlik o’tkazuvchanlik masalasida o’zgarmas ko’p
													qiymatli akslantirish invariantligining ba’zi
													muammolari (<a
														href="https://drive.google.com/file/d/1QHDe9jSaVVNtMOg34wPiTy5r_I-XgV1Q/view?usp=sharing"
														target="_blank" class="imCssLink">60-67</a>)<br></span></div>
											<div class="imTALeft"><span class="fs10lh1-5">8. <b>Rahmonov
														E. S., Beshimov G’. R.</b> Ratsional sonlar
													maydoni ustida $x_1y_1-2x_2y_2$ formali ikki
													o’lchovli Bichiziqli-metrik fazodagi m ta nuqtaning
													to’la invariantlari sistemasi (<a
														href="https://drive.google.com/file/d/15tBbp8tM124Uf8k2rhM0muZo7jGbbL4g/view?usp=sharing"
														target="_blank" class="imCssLink">68-76</a>)<br></span></div>
											<div class="imTALeft"><span class="fs10lh1-5">9. <b>Mohd
														Danish Siddiqi. </b>Trans-Sasaki
													ko’pxilliklaridagi umumlashgan Yamabe solitonlari
													(<a href="https://drive.google.com/file/d/1Ie92i5Et-4ohum4UjVW1MjKGryKXQtW2/view?usp=sharing"
														target="_blank" class="imCssLink">77-85</a>)<br></span></div>
											<div class="imTALeft"><span class="fs10lh1-5">10.
													<b>Sheraliyev Sh. N.</b> Peridinamikaning
													kvazi-chiziqli davriy masalasining yechimliligi
													to’g’risida (<a
														href="https://drive.google.com/file/d/1Z4tw9NsDP4tr03B-Up2IobvABuXdOIjJ/view?usp=sharing"
														target="_blank" class="imCssLink">86-93</a>)<br></span></div>
											<div class="imTALeft"><span class="fs10lh1-5">11.
													<b>Umrzaqov N. M.</b> Nilpotent yuqori uchburchakli
													matritsalar algebralarining lokal
													differensiallashlari (<a
														href="https://drive.google.com/file/d/1DvByJ-2cmRaXLfjUrHwdDr6Pg-lngbOf/view?usp=sharing"
														target="_blank" class="imCssLink">94-97</a>)<br></span></div>
											<div class="imTALeft"><span class="fs10lh1-5">12. <b>Usmonov
														J. B., Kodirova M. A. </b>Koeffitsiyentlari
													o’zgaruvchi kvadratik stoxastik operator (<a
														href="https://drive.google.com/file/d/1nZ69KlHLO5PbPVlwK1IoJppd5OCIcnB-/view?usp=sharing"
														target="_blank" class="imCssLink">98-107</a>)<br></span></div>
											<div class="imTALeft"><span class="fs10lh1-5">13. <b>Aripov
														M. M., Jabborov O. R.</b> Parabolik tibdagi ikki
													karra nochiziqli dempingli tenglama uchun
													yechimlarini baholash va asimptotikalarini topish
													(<a href="https://drive.google.com/file/d/1OABOv9Jpfc8Ucnd7zeSTvnes5lD-jvDR/view?usp=sharing"
														target="_blank" class="imCssLink">108-118</a>)<br></span></div>
											<div class="imTALeft"><span class="fs10lh1-5">14. <b>Kasimov
														Sh. G., Madrahimov U. S., Koshanov A. P.</b>
													Sobolev fazolarida bir oxiri yamalgan va boshqa
													oxiri suzuvchi &nbsp;ko’p o’lchamli holda balkaning
													tebranishi boshlang’ich-chegaraviy masalaning bir
													qiymatli yechilishi haqida (<a
														href="https://drive.google.com/file/d/1Aelt6prkf4K-MbOA3LV4DKRQncg1QwrR/view?usp=sharing"
														target="_blank" class="imCssLink">119-136</a>)<br></span></div>
											<div class="imTALeft"><span class="fs10lh1-5">15.
													<b>Irgashev B. Yu. </b>Yuqori tartibli, birinchi va
													ikkinchi tur buzilishga ega bo‘lgan tenglamalar
													uchun avtomodel yechimlar qurish</span></div>
											<div class="imTALeft"><span class="fs10lh1-5">(<a
														href="https://drive.google.com/file/d/1RTrBhPqMmFbJC5vXXfzzf1QUbHFX5N_0/view?usp=sharing"
														target="_blank" class="imCssLink">137-143</a>)<br></span></div>
											<div class="imTALeft"><span class="fs10lh1-5">16. <b>Ruziyev
														M. X. </b>Aralash tipdagi singulyar
													koeffitstientli tenglama uchun chegaraviy masala
													haqida (<a
														href="https://drive.google.com/file/d/1hSMVtqvi72PGOSsIdmLIFjEPFnBwcKOp/view?usp=sharing"
														target="_blank" class="imCssLink">144-152</a>)</span></div>
											<div class="imTALeft"><span class="fs10lh1-5">17. <b>Umarova
														G. B.</b> Ikkita tipdagi o‘zgarish tekisligiga
													ega bo‘lgan parabolikgipеrbolik tеnglama uchun uch
													o‘lchovli Trikomi masalasi (<a
														href="https://drive.google.com/file/d/1UPJaixnhtW-1cEdZjQmUQl2PE-ZKmehn/view?usp=sharing"
														target="_blank" class="imCssLink">153-166</a>)</span></div>
											<div class="imTALeft"><span class="fs10lh1-5">18. <b>Hayotov
														A. R., Rasulov R. G. </b>Eyler-Makloren
													kvadratur formulasini $W_2^{(5,4)}$ fazoda
													kengaytirish (<a
														href="https://drive.google.com/file/d/1Z1hafzSokGW9OG3D4OE_rqyIa_ciqSrt/view?usp=sharing"
														target="_blank" class="imCssLink">167-176</a>)</span></div>
											<div class="imTALeft"><span class="fs10lh1-5">19.
													<b>Xolboyev A. G. </b> Yevklid fazosidagi Arximed
													ko‘pyoqliklari qirralarida quvish-qochish o‘yini (<a
														href="https://drive.google.com/file/d/18jq7elB1AsHAOEsLOd6Q1DbC_l5uf4EW/view?usp=sharing"
														target="_blank" class="imCssLink">177-182</a>)</span></div>
											<div class="imTALeft"><span class="fs10lh1-5">20.
													<b>Xurramov N. X. </b>Aralash turdagi
													tenglamalarning bir sinfi uchun Trikomi masalasining
													umumlashmasi haqida (<a
														href="https://drive.google.com/file/d/16ApSdI8gItdQa9ZjAZ3Hx2Ug1uD0gpr0/view?usp=sharing"
														target="_blank" class="imCssLink">183-198</a>)</span></div>
											<div class="imTALeft"><span class="fs10lh1-5">21.
													<b>Shaimqulov B. A., Bozorov J. T.</b> Polikrug
													ostovida aniqlangan funktsiyaning birlik polikrugga
													golomorf davom etishi uchun shartlar (<a
														href="https://drive.google.com/file/d/1fLz5Ca1pknPMeaQ6ClVAwZ_enzuVkQwF/view?usp=sharing"
														target="_blank" class="imCssLink">199-203</a>)</span></div>
											<div class="imTACenter"><span class="fs10lh1-5 cf1">
													&nbsp;</span></div>
											<div class="imTACenter"><span class="fs10lh1-5 cf1"><b><a
															href="https://drive.google.com/file/d/1ktAix3oPb_4By28kG0ASF5y_d55-zyon/view?usp=sharing"
															target="_blank" class="imCssLink">
															4-son</a></b></span></div>
											<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">1. </span><b
														class="imTACenter">Babaev S. S., &nbsp;Davronov
														J</b><span class="imTACenter">.</span><b class="imTACenter">
														R.,</b><span class="imTACenter"> </span><b
														class="imTACenter">Mamatova N. H.
														&nbsp;&nbsp;</b>$W_{2, \sigma}^{(1,0)}$ <span
														class="imTACenter cf1"> </span><span
														class="imTACenter cf1">fazosida optimal
														interpolyatsion formula</span><span class="imTACenter cf1">
														(</span><span class="imTACenter"><a
															href="https://drive.google.com/file/d/1zko_Z5SEGMxkTei-NjSLdVLGpqkd9fTM/view?usp=sharing"
															target="_blank" class="imCssLink">1-12</a></span><span
														class="imTACenter cf1">)</span></span></div>
											<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1"><span
															class="imTACenter">2.
														</span></span><b class="imTACenter">Iskanadjiev
														I. M. </b><span class="imTACenter cf1">Tugallanishi fiksirlangan
														nochiziqli differentsial o’yinlardagi Pontryagin
														quyi operatori haqida</span><span class="imTAJustify cf1"> (<a
															href="https://drive.google.com/file/d/1nucyIo7_WkdzMf7UoQT6HBNpSQHFiPE2/view?usp=sharing"
															target="_blank" class="imCssLink">13-20</a>)</span><span
														class="imTACenter cf1">
														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
											</div>
											<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">3. </span><b
														class="imTACenter">Rasulov T. H., Bahronov B. I.
													</b><span class="imTACenter cf1">Frisrixs modeli
														sonli tasvirining tuzilishi: rangi ikkiga teng
														qo’zg’alishli 1 o’lchamli</span><span class="imTACenter cf1">
														&nbsp;&nbsp;</span><span class="imTACenter cf1">hol</span><span
														class="cf1"> (</span><a
														href="https://drive.google.com/file/d/1N1QZW5FW0hIP5FNbwUbaTWKo4sTE-WwZ/view?usp=sharing"
														target="_blank" class="imCssLink">21-28</a><span
														class="cf1">)</span></span></div>
											<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">4.<b>
														</b></span><b class="imTACenter">Alikulov E. K. </b><span
														class="imTACenter">Uchinchi tartibli
														parabolo-giperbolik tipdagi yuklangan
														tenglama</span><span class="imTACenter">
														&nbsp;</span><span class="imTACenter">uchun</span><span
														class="imTACenter"> &nbsp;</span><span
														class="imTACenter">chegaraviy masala</span><span class="cf1">
														(</span><a
														href="https://drive.google.com/file/d/1bitFOrerdZhJPtEz5PwsEcsjDISQoiEQ/view?usp=sharing"
														target="_blank" class="imCssLink">29-49</a><span
														class="cf1">)</span></span></div>
											<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">5.<b>
														</b></span><b class="imTACenter">Azizov A. S. </b><span
														class="imTACenter cf1">To’g’ri to’rtburchakda
														bir jinsli bo’lmagan to’rtinchi tartibli
														singulyar koeffitsiyentli tenglama uchun aralash
														masala</span><span class="cf1"> (</span><a
														href="https://drive.google.com/file/d/18sL179vZvKNwmGpzhmwNI-9TvMryZ42R/view?usp=sharing"
														target="_blank" class="imCssLink">50-59</a><span
														class="cf1">)</span><span class="imTACenter cf1">
														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
											</div>
											<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">6.<b>
														</b></span><b class="imTACenter">Fayazov K. S., Rahmatov H.
														Ch. </b><span class="imTACenter cf1">To‘rtinchi
														tartibli psevdo-differensial tenglama uchun
														nokorrekt chegaraviy masala</span><span class="imTACenter">
													</span><span class="imTACenter"> </span><span class="cf1">
														(</span><a
														href="https://drive.google.com/file/d/1vSiUJqPTKERi-xgZurJHRdgECrmCCwz8/view?usp=sharing"
														target="_blank" class="imCssLink">60-66</a><span
														class="cf1">)</span></span></div>
											<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">7.<b>
														</b></span><b class="imTACenter">Jurayev Sh. Yu. </b><span
														class="imTACenter">Kritik tarmoqlanuvchi
														tasodifiy jarayonlarning ayrim
														limitik</span><span class="imTACenter">
														&nbsp;</span><span class="imTACenter">teoremalari</span><span
														class="cf1"> (</span><a
														href="https://drive.google.com/file/d/1-RUZIvSukdNFBIHCbRypfj0aYWzA9EpZ/view?usp=sharing"
														target="_blank" class="imCssLink">67-74</a><span
														class="cf1">)</span><span class="imTACenter cf1">
														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
											</div>
											<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">8.<b>
														</b></span><b class="imTACenter">Karimov K. T. </b><span
														class="imTACenter">Silindrik sohada uch
														o’lchovli singulyar koeffitsientli elliptik
													</span><span class="imTACenter">tenglama uchun
														chegaraviy masalalar</span><span class="cf1"><b>
														</b>(<a
															href="https://drive.google.com/file/d/1CRN4QZzyJ_23Q5ei0NtsSto4MPdbE4MG/view?usp=sharing"
															target="_blank" class="imCssLink">75-97</a>)</span></span>
											</div>
											<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">9.<b>
															&nbsp;</b></span><b class="imTACenter">Kasimov X. N.,
														Javliyev S. K.
													</b><span class="imTACenter">Tartiblangan
														unarlarning algoritmik
														tasvirlanishlari</span><span class="cf1">
														(</span><a
														href="https://drive.google.com/file/d/1HsRmxifT9Xy3_iLHvEORdwK6H3iQmyBW/view?usp=sharing"
														target="_blank" class="imCssLink">98-104</a><span
														class="cf1">)</span><span class="imTACenter cf1">
														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
											</div>
											<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">10.<b>
														</b></span><b class="imTACenter">Oqboyev A. B. </b><span
														class="imTACenter">Buziladigan ikkinchi tur
														giperbolik tipdagi tenglama uchun Koshi-Gursa
														masalasi</span><span class="cf1"> (</span><a
														href="https://drive.google.com/file/d/1I3otAX0JxCaLAnakiQ7DSEWsJk1gruW3/view?usp=sharing"
														onclick="return x5engine.imShowBox({ media:[{type: 'iframe', url: 'https://drive.google.com/file/d/1I3otAX0JxCaLAnakiQ7DSEWsJk1gruW3/view?usp=sharing', width: 1920, height: 1080, description: ''}]}, 0, this);"
														class="imCssLink">105-112</a><span class="cf1">)</span><span
														class="imTACenter cf1">
														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
											</div>
											<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">11.<b>
														</b></span><b class="imTACenter">Xakimov R. M., Umirzakova K.
														O. </b><span class="imTACenter">Uch holatli HC
														modellarining biri uchun davriy Gibbs
													</span><span class="imTACenter">o‘lchovlarining
														yagonalik shartlari</span><span class="cf1"> (<a
															href="https://drive.google.com/file/d/1-TGN7N5VAfMS7TMI6KxBEf-8RgqkRmd4/view?usp=sharing"
															onclick="return x5engine.imShowBox({ media:[{type: 'iframe', url: 'https://drive.google.com/file/d/1-TGN7N5VAfMS7TMI6KxBEf-8RgqkRmd4/view?usp=sharing', width: 1920, height: 1080, description: ''}]}, 0, this);"
															class="imCssLink">113-119</a>)</span></span>
											</div>
											<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">12.<b>
														</b></span><b class="imTACenter">Xolto’rayev X. F. </b><span
														class="imTACenter"> </span><span class="imTACenter">Idempotent
														ehtimollik
														o`lchovlari fazosidagi kompaktlar uchun
														skeletoidlar</span><span class="cf1"> (</span><a
														href="https://drive.google.com/file/d/1sTgfZS6Bz-CksdlSZyJjK6WVS9QRb2Jy/view?usp=sharing"
														target="_blank" class="imCssLink">120-127</a><span
														class="cf1">)</span><span class="imTACenter cf1">
														&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span>
											</div>
											<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">13.<b>
														</b></span><b class="imTACenter">Xurramov N. X. </b><span
														class="imTACenter">Aralash turdagi biror
														tenglama uchun bitta oilaga mansub </span><span
														class="imTACenter">parallel xarakteristikalarda
														Bitsadze–Samarskiy va buzilish
														chizig‘ida</span></span></div>
											<div class="imTALeft"><span class="fs10lh1-5"><span class="imTACenter">
														&nbsp;</span><span class="imTACenter">umumiy ulanish shartli
														masala</span><span class="cf1"> (<a
															href="https://drive.google.com/file/d/1GtiXaPWZF6eY-0V0kgmPq94Ng-Wcu6--/view?usp=sharing"
															target="_blank" class="imCssLink">128-146</a>)<span
															class="imTACenter">
															&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></span>
											</div>
											<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">14.<b>
															&nbsp;</b></span><b class="imTACenter">Xusanov Dj. X.,
														Berdiyorov F.
														Sh., Buranov J. I. &nbsp;</b><span
														class="imTACenter">Peridinamikaning
														kvazi-chiziqli davriy masalasining yechimliligi
														to’g’risida </span><span class="cf1"> (</span><a
														href="https://drive.google.com/file/d/1HBCOulfRr2RzDDCUtsF71-AxCKAWAMcN/view?usp=sharing"
														target="_blank" class="imCssLink">147-155</a><span
														class="cf1">)</span></span></div><span class="fs10lh1-5 cf1">
												<v:shapetype coordsize="21600,21600" o:spt="75" o:preferrelative="t"
													path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f"> &nbsp;
													<v:formulas>
														&nbsp;&nbsp;<v:f eqn="if lineDrawn pixelLineWidth 0"></v:f>
														&nbsp;&nbsp;<v:f eqn="sum @0 1 0"></v:f>
													</v:formulas>
												</v:shapetype>
											</span>
										</div>
										<div class="imTACenter"><span class="fs10lh1-5"><span class="cf1"> </span><b
													class="cf1"><a
														href="https://drive.google.com/file/d/1wEwc5e5NcrOt8c0UMXkJkgQrc8cpDU31/view?usp=sharing"
														target="_blank" class="imCssLink">5-son</a></b></span></div>
										<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">1.
													&nbsp;</span><b class="imTAJustify">Bozarov B. I. </b><span
													class="imTAJustify">Sobolev fazosida trigonometrik
													vaznli optimal kvadratur</span><span class="imTAJustify">
													&nbsp;</span><span class="imTAJustify">formulalar </span><span
													class="cf1"> &nbsp;(<a
														href="https://drive.google.com/file/d/1uIwuFouYtSiY54KJ-0ykCdIjJkcBrDjt/view?usp=sharing"
														target="_blank" class="imCssLink">1-11</a>)</span></span></div>
										<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">2.
													&nbsp;</span><b class="imTAJustify">Eshimbetov M. R. </b><span
													class="imTAJustify">Zinapoyasimon grafda issiqlik
													tarqalish tenglamasi uchun boshlang’ich- chegaraviy
													masala</span><span class="cf1"> (<a
														href="https://drive.google.com/file/d/1odVcNnM8OToqVTQ0v63JNLRfN6m8rDH8/view?usp=sharing"
														target="_blank" class="imCssLink">12-19</a>)</span></span></div>
										<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">3.
													&nbsp;</span><b class="imTAJustify">Xudoyberdiyev A. H., Shermatova
													Z. H. &nbsp;</b><span class="imTAJustify">Kvazi-filiform
												</span><span class="imTAJustify"> </span><span
													class="imTAJustify">Leybnits </span><span class="imTAJustify">
												</span><span class="imTAJustify">algebralarining </span><span
													class="imTAJustify"> </span><span
													class="imTAJustify">maksimal</span><span class="imTAJustify">
													&nbsp;</span><span class="imTAJustify">tori</span><span class="cf1">
													(<a href="https://drive.google.com/file/d/1PK0JP7kXcKkUI5AFBd5PlnUQVQ0LxqWr/view?usp=sharing"
														target="_blank" class="imCssLink">20-24</a>)</span></span></div>
										<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">4.
													&nbsp;</span><b class="imTAJustify">Abdurasulov K. K., Solijanova G.
													O. &nbsp;</b><span class="imTAJustify">Ideali
													maksimal musbat graduirlangan</span><span class="imTAJustify">
													&nbsp;3/2 &nbsp;</span><span
													class="imTAJustify">uzunlikda</span><span class="imTAJustify">
												</span><span class="imTAJustify">bo’lgan</span></span></div>
										<div class="imTALeft"><span class="fs10lh1-5"> &nbsp;maksimal
												pro-yechiluvchan Li algebralari <span class="cf1"> (<a
														href="https://drive.google.com/file/d/1wJSSHmhVqOxQg8lGNHdE78jD-10tQDDf/view?usp=sharing"
														target="_blank" class="imCssLink">25-32</a>)</span></span></div>
										<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">5.
													&nbsp;</span><b class="imTAJustify">Djamalov S. Z., Ro’ziyev U. Sh.,
													Abdullayev O. K., &nbsp;Turaqulov X. K.</b><span
													class="imTAJustify"> To’g’rito’rtburchakli sohada
													ikkinchi tartibli ikkinchi tur aralash tipdagi
													yuklangan model tenglama </span></span></div>
										<div class="imTALeft"><span class="fs10lh1-5"><span class="imTAJustify">uchun
													yarimnolokal chegaraviy
													masala haqida</span><span class="cf1"> (<a
														href="https://drive.google.com/file/d/1zM0AKn9SpaW2UV2Ich0hyqj5IVXRkaFk/view?usp=sharing"
														target="_blank" class="imCssLink">33-39</a>)</span></span></div>
										<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">6.
													&nbsp;</span><b class="imTAJustify">Nuraliyev &nbsp;F. A., Axmedov
													&nbsp;D. M. &nbsp;</b>$L_2^(m)(0,1)$ &nbsp;fazoda
												Ermit tipidagi optimal interpolyatsion formulalar
												haqida<span class="cf1"> &nbsp;(<a
														href="https://drive.google.com/file/d/1-yS2kdWshRVLq69EE6l8RfKccMyHQ_Yy/view?usp=sharing"
														target="_blank" class="imCssLink">40-47</a>)</span></span></div>
										<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">7.
													&nbsp;</span><b class="imTAJustify">Raximova G. G. </b><span
													class="imTAJustify">Tasodifiy hajmli tanlanma
													bo’yicha qurilgan empirik xarakteristik jarayonning
													asimptotik xossalari</span><span class="cf1"> (<a
														href="https://drive.google.com/file/d/1Ol-9i7UIViiXHcO8RVnBkDCIMeLxGe6u/view?usp=sharing"
														target="_blank" class="imCssLink">48-52</a>)</span></span></div>
										<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">8.
													&nbsp;</span><b class="imTAJustify">Xasanov T. G., Normuradov X. N.
												</b><span class="imTAJustify">Yuklangan ozod hadli
													Korteveg-de Friz tenglamasiga qo’yilgan Koshi
													masalasini yechish algoritmi</span><span class="cf1"> &nbsp;(<a
														href="https://drive.google.com/file/d/12yoh6Rg_c0kwW_2eNpqN8q7cDz4SIWBP/view?usp=sharing"
														target="_blank" class="imCssLink">53-58</a>)</span></span></div>
										<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">9.
													&nbsp;</span><b class="imTAJustify">Xusainova B. B. </b><span
													class="imTAJustify">Momentlar shartlarisiz Markaziy
													Limit Teorema </span><b class="imTAJustify">I.</b><span class="cf1">
													&nbsp;(<a
														href="https://drive.google.com/file/d/15-2tqRWKzBYr38k4YoeKOdpBE9kZOwmR/view?usp=sharing"
														target="_blank" class="imCssLink">59-64</a>)</span></span></div>
										<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">10.
													&nbsp;</span><b class="imTAJustify">Sharipov &nbsp;S. O., Toshqulov
													X. A. </b><span class="imTAJustify">Deyarli kritik
													sust bog’liq immigratsiyali tarmoqlanuvchi
													jarayonlar uchun markaziy limit teorema</span><span class="cf1">
													&nbsp;(<a
														href="https://drive.google.com/file/d/1uLjy0HrLwTXWnGweGaZKevNPDLPqYdye/view?usp=sharing"
														target="_blank" class="imCssLink">65-71</a>)</span></span></div>
										<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">11.
													&nbsp;</span><span class="imTAJustify"><b>Sharipov O. Sh., Ruziyeva
														D.
														S. </b>
													<v:shapetype coordsize="21600,21600" o:spt="75" o:preferrelative="t"
														path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f"><b>
															&nbsp;</b><b>
															<v:stroke joinstyle="miter"></v:stroke>
														</b><b> &nbsp;</b>
														<v:formulas><b> &nbsp;&nbsp;</b><b> </b>$c_0$<b>
															</b><b>
																<v:f eqn="sum 0 0 @1"></v:f>
															</b><b> </b></v:formulas>
													</v:shapetype>
												</span><span class="imTAJustify">fazoda qiymat qabul
													qiluvchi tasodifiy maydonlar uchun
													&nbsp;</span><span class="imTAJustify">markaziy
													limit teorema </span><span class="cf1"> (<a
														href="https://drive.google.com/file/d/1KF0YBQEDlLVlQ1BEqhjk3ZJ9UO0Oc3im/view?usp=sharing"
														target="_blank" class="imCssLink">72-76</a>)</span></span></div>
										<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">12.
													&nbsp;</span><span class="imTAJustify">Rasul Nabiyevich
													G'anixodjayev</span><span class="imTAJustify">
													&nbsp;</span><span class="imTAJustify">(75 yillik
													yubileyiga bag'ishlanadi) </span><span class="cf1">
													(<a href="https://drive.google.com/file/d/1CCEAm2jHId7hZVorP3xl6Mc03Fwd7Xuu/view?usp=sharing"
														target="_blank" class="imCssLink">77-78</a>)</span></span></div>
										<div class="imTACenter"><span class="fs10lh1-5 cf1">
												<v:shapetype coordsize="21600,21600" o:spt="75" o:preferrelative="t"
													path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f">
													<v:formulas><b><br></b></v:formulas>
												</v:shapetype>
											</span></div>
										<div class="imTACenter">
											<div><b class="fs10lh1-5">
													&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
														href="https://drive.google.com/file/d/1evcSl9Mv8S15nBLTDuauFtNFj5wZF5bn/view?usp=sharing"
														target="_blank" class="imCssLink">6-son</a></b>
											</div>
											<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">1.
														&nbsp;</span><b>Karimov U. Sh.
													</b>Haqiqiy W*-algebralarining lokal
													differensiallashlari haqida &nbsp;(<a
														href="https://drive.google.com/file/d/1MV0d6E3NNVtZplOdpvEtUKpiXR8bkc36/view?usp=sharing"
														onclick="return x5engine.imShowBox({ media:[{type: 'iframe', url: 'https://drive.google.com/file/d/1MV0d6E3NNVtZplOdpvEtUKpiXR8bkc36/view?usp=sharing', width: 1920, height: 1080, description: ''}]}, 0, this);"
														class="imCssLink">1-3</a>)</span></div>
											<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">2.
														&nbsp;</span><b>Zunnunov A. O.
													</b>Yopiq arenada sher va odam o’rtasida quvish
													masalasi haqida<span class="cf1"> &nbsp;</span><span class="cf1">(<a
															href="https://drive.google.com/file/d/1VPsfzlzjL8hS4YJI-PayxTIn_OxVtV9h/view?usp=sharing"
															target="_blank" class="imCssLink">4-8</a>)</span></span>
											</div>
											<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">3.
														&nbsp;</span><b>Abdullayev J. Sh.
													</b>Chegaralangan bir jinsli sohalarning Bergman
													yadrolarining baholanishi <span class="cf1">
													</span><span class="cf1">(<a
															href="https://drive.google.com/file/d/1NlpLT6ylXNuUerWZI4nskp2Zv11zbdW9/view?usp=sharing"
															target="_blank" class="imCssLink">9-17</a>)</span></span>
											</div>
											<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">4.
														&nbsp;</span><b>Jo’rayev R.
														M.</b> &nbsp;G-simmetrik darajali fazolarning
													bir xilliligi &nbsp;(<a
														href="https://drive.google.com/file/d/1pEX7NP2y2QEEhNmMgrGLmnKpfQznP7bK/view?usp=sharing"
														target="_blank" class="imCssLink">18-23</a>)</span></div>
											<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">5.
														&nbsp;</span><b>Kushmurodov A. A.
													</b>Banax fazolarida qiymat qabul qiluvchi m−
													bog’liq tasodifiy maydonlar uchun kuchaytirilgan
													katta sonlar qonuni &nbsp;(<a
														href="https://drive.google.com/file/d/1J9cJ6YFGPEA-6Lq-MGlY9SQDQehocjS-/view?usp=sharing"
														target="_blank" class="imCssLink">24-29</a>)</span></div>
											<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">6.
														&nbsp;</span><b>Madraximov U. S.
													</b>Plitaning tebratish tenglamasi bilan bog’liq
													bo’lgan psevdodifferensial operator koeffisiyentli
													kasr tartibli tenglama uchun Koshi masalasi
													&nbsp;<span class="cf1">(<a
															href="https://drive.google.com/file/d/1vRuaw0dlLDAQ0yFeT6v1Fe-tYyGdP87N/view?usp=sharing"
															target="_blank"
															class="imCssLink">30-36</a>)</span><br></span>
											</div>
											<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">7.
														&nbsp;</span><b>Mamanazarov A. O.
													</b>Kasr tartibli aralash parabolik tenglama uchun
													chegaralanmagan sohalarda chegaraviy masalalar
													&nbsp;(<a
														href="https://drive.google.com/file/d/1MwBvyky-fIaejmanJ74Xp5kVcqy1Qyxg/view?usp=sharing"
														target="_blank" class="imCssLink">37-48</a>)</span></div>
											<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">8.
														&nbsp;</span><b>Seidullayev A.
														K.</b> Integral geometriyaning siniq chiziqlar
													oilasi yo’lagidagi bir masalaning regularizatsiya
													masalasi &nbsp;(<a
														href="https://drive.google.com/file/d/1aTGRjrPEizrhK3pZUWt0fLjBXUDjdyHO/view?usp=sharing"
														target="_blank" class="imCssLink">49-54</a>)</span></div>
											<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">9.
														&nbsp;</span><b>Tug’yonov Z. T.
													</b>Haqiqiy davriy o’lchovlar &nbsp;(<a
														href="https://drive.google.com/file/d/1OPjF6UMx6NpIKyd8Na2B7qlvNkIyehun/view?usp=sharing"
														target="_blank" class="imCssLink">55-58</a>)</span></div>
											<div class="imTALeft"><span class="fs10lh1-5">10. &nbsp;<b
														class="imTACenter">Xolturayev X. F. </b><span
														class="imTACenter">Kompaktlar metrikalashuvining
														bitta alomati hamda idempotent ehtimollik
														o’lchovlari funktori (<a
															href="https://drive.google.com/file/d/1M4NbCYxVc2FFHzNSgBd7m0fsunzQOasH/view?usp=sharing"
															target="_blank" class="imCssLink">59-64</a>)</span></span>
											</div>
											<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">11.
														&nbsp;</span><b>Xomidov M. K.
													</b>Diskret Toda zanjiri uchun Gibbs taqsimot
													&nbsp;&nbsp;(<a
														href="https://drive.google.com/file/d/1lVbo-R9x8y6efi3HtICbuYBXPRMwugEl/view?usp=sharing"
														target="_blank" class="imCssLink">65-73</a>)</span></div>
											<div class="imTALeft"><span class="fs10lh1-5"><span class="cf1">12.
														&nbsp;</span><b>Xusainova B. B.
													</b>Momentlar shartlarisiz markaziy limit teorema.
													II. &nbsp;(<a
														href="https://drive.google.com/file/d/149Woa0VVfbw1L2oXsB_drPNMvMfV3b9t/view?usp=sharing"
														target="_blank" class="imCssLink">74-78</a>)</span>
												<v:shapetype coordsize="21600,21600" o:spt="75" o:preferrelative="t"
													path="m@4@5l@4@11@9@11@9@5xe" filled="f" stroked="f"
													class="imTACenter fs11lh1-5 cf1 ff1">
													<v:formulas> &nbsp;&nbsp;<v:f eqn="prod @7 21600 pixelWidth"></v:f>
														&nbsp;&nbsp;<v:f eqn="sum @8 21600 0"></v:f>
														&nbsp;&nbsp;<v:f eqn="prod @7 21600 pixelHeight"></v:f>
														&nbsp;&nbsp;<v:f eqn="sum @10 21600 0"></v:f>
														&nbsp;</v:formulas> &nbsp;<v:path o:extrusionok="f"
														gradientshapeok="t" o:connecttype="rect"></v:path> &nbsp;<o:lock
														v:ext="edit" aspectratio="t"></o:lock>
												</v:shapetype>
												<v:shape type="#_x0000_t75" o:ole=""
													class="imTACenter fs11lh1-5 cf1 ff1"> &nbsp;
												</v:shape>
											</div>
										</div>
										<div class="imTACenter">
											<div class="imTALeft"><span class="imTACenter fs11lh1-5 cf1 ff1"> </span>
											</div>
											<div><br></div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="imClear"></div>
	</main>
</div>

{% endblock content %}