{% extends 'base.html' %}
{% load static %}
{% block link %}{% static 'pcss/2022.css'%}{% endblock link %}

{% block name %}2022.html{% endblock name %}

{% block content %}
<div id="imContentContainer">
	<div id="imContentGraphics"></div>
	<main id="imContent">
		<a id="imGoToCont"></a>
		<div class="imContentDataContainer">
			<h2 id="imPgTitle">2022</h2>
			<div id="imBreadcrumb">Arxiv</div>
		</div>
		<div id="imPageRow_1" class="imPageRow">

			<div id="imPageRowContent_1" class="imContentDataContainer">
				<div id="imCell_1" class="">
					<div id="imCellStyleGraphics_1"></div>
					<div id="imCellStyle_1">
						<div id="imTextObject_13_01">
							<div class="text-tab-content" id="imTextObject_13_01_tab0" style="">
								<div class="text-inner">
									<div class="imTAJustify"><b><br></b></div>
									<div class="imTAJustify">
										<div class="imTACenter"><b class="fs10lh1-5">2022-yilda chop
												etilgan maqolalar</b></div>
										<div class="imTACenter"><b class="fs10lh1-5"><br></b></div>
										<div class="imTACenter"><b><span class="fs10lh1-5"><a
														href="https://drive.google.com/file/d/1IfNegB6pdjHHQh5sEh_IuE4SAi674YKj/view?usp=sharing"
														target="_blank" class="imCssLink">1-son</a></span></b></div>
										<div><span class="fs10lh1-5"><b>1. Kurudirek A.</b> Ta’lim
												jarayonida noyevklid geometriya elementlaridan
												foydalanish usullari. Bull. Inst. Math., 2022, Vol.5,
												№1, pp. 1-5 <a
													href="https://drive.google.com/file/d/1PsQQjDcA7Xe9S23Hl0FD6eLEHn536E6L/view?usp=sharing"
													target="_blank" class="imCssLink">pdf</a></span>
										</div>
									</div>
									<div class="imTALeft"><span class="fs10lh1-5"><b>2. Samatov B. T.,
												Jurayev B. I.</b> Boshqaruvdagi GrG cheklovlari bilan
											differentsial o‘yinda П strategiyasi. Bull. Inst. Math.,
											2022, Vol.5, №1, pp. 6-13 <a
												href="https://drive.google.com/file/d/1euOaoOp-0-LM81-K93bRoG1tJZj28f2f/view?usp=sharing"
												target="_blank" class="imCssLink">pdf</a></span></div>
									<div class="imTAJustify"><span class="fs10lh1-5"><b>3. Azizov M. S.
											</b>Bessel operatori qatnashgan juft tartibli xususiy
											hosilali tenglama uchun bir boshlang‘ich-chegaraviy masala
											haqida. Bull. Inst. Math., 2022, Vol.5, №1, pp. 14-24 <a
												href="https://drive.google.com/file/d/1jZC4CImlrxqOR8xwqfWZDUP_rPRzZ70E/view?usp=sharing"
												target="_blank" class="imCssLink">pdf</a></span></div>
									<div class="imTAJustify"><span class="fs10lh1-5"><b>4. Ganixodjaev
												N. N., Dusmurodova G. X. </b>Kvadratik stoxastik
											operatorlar tomonidan yaratilgan to‘rt o‘lchovli va besh
											o‘lchovli algebralar. Bull. Inst. Math., 2022, Vol.5, №1,
											pp. 25-30 <a
												href="https://drive.google.com/file/d/1uyChHe7YUNRtlUwrl7-zk1BqpnfK8ZXc/view?usp=sharing"
												target="_blank" class="imCssLink">pdf</a></span></div>
									<div class="imTAJustify"><span class="fs10lh1-5"><b>5. Davlatov Sh.
												O.</b> Bir o‘lchovli o‘zgarmas koeffisientli simmetrik
											t-giperbolik sistemalarni noregulyar to‘rda chekli
											elementlar usuli bilan yechish. Bull. Inst. Math., 2022,
											Vol.5, №1, pp. 31-36 <a
												href="https://drive.google.com/file/d/1PZhIT9Njv9QjUO9Z0mK2XvLhGRQe1qdN/view?usp=sharing"
												target="_blank" class="imCssLink">pdf</a></span></div>
									<div class="imTAJustify"><span class="fs10lh1-5"><b>6. Jumaev D. I.,
												Beshimova D. R. </b>Giperfazoning eqvivariant
											akslantirishlari. Bull. Inst. Math., 2022, Vol.5, №1, pp.
											37-43 <a
												href="https://drive.google.com/file/d/1PZhIT9Njv9QjUO9Z0mK2XvLhGRQe1qdN/view?usp=sharing"
												target="_blank" class="imCssLink">pdf</a></span></div>
									<div class="imTAJustify"><span class="fs10lh1-5"><b>7. Imomov A. A.,
												Nazarov Z. A.</b> Markov Q-jarayoni tarkibiy
											parametrining bahosi haqida. Bull. Inst. Math., 2022, Vol.5,
											№1, pp. 44-55 <a
												href="https://drive.google.com/file/d/1HMEQiSafnKHlFlulC9r7jQm_HB768fWp/view?usp=sharing"
												target="_blank" class="imCssLink">pdf </a><br></span>
									</div>
									<div class="imTAJustify"><span class="fs10lh1-5"><b>8. Ismoilov A.
												I.</b> Bir jinsli bo‘lmagan Eyler-Puasson-Darbu
											tenglamasi uchun Darbu masalasi. Bull. Inst. Math., 2022,
											Vol.5, №1, pp. 56-65 <a
												href="https://drive.google.com/file/d/1RCpQofrNAY5CaWMS7ypg5oOD8gRoLdUL/view?usp=sharing"
												target="_blank" class="imCssLink">pdf</a></span></div>
									<div class="imTAJustify"><span class="fs10lh1-5"><b>9. Maxammadaliev
												M. T.</b> Ikkinchi tartibli Keli daraxtida spin
											qiymatlari to‘plami sanoqli bo‘lgan HC-modeli uchun Gibbs
											o‘lchovlari haqida. Bull. Inst. Math., 2022, Vol.5, №1, pp.
											66-73 <a
												href="https://drive.google.com/file/d/1PeNyDyyVdjPsmWBVRRHo28T7apAH4Teq/view?usp=sharing"
												target="_blank" class="imCssLink">pdf</a></span></div>
									<div class="imTAJustify"><span class="fs10lh1-5"><b>10. Rasulov M.
												S., Norov A. K.</b> Raqobat-diffuziya modeli uchun ikki
											noma’lum chegarali masala. Bull. Inst. Math., 2022, Vol.5,
											№1, pp. 74-81 <a
												href="https://drive.google.com/file/d/1uRoSNvQ9ju5w8ubldm8i69JhBo6s0Ltw/view?usp=sharing"
												target="_blank" class="imCssLink">pdf</a></span></div>
									<div class="imTAJustify"><span class="fs10lh1-5"><b>11. Rasulov S.
												I., Mustapokulov X. Y., Kuralov B. A.</b> Fredholm
											determinantlari uchun Monte-Karlo baholari. Bull. Inst.
											Math., 2022, Vol.5, №1, pp. 82-87 <a
												href="https://drive.google.com/file/d/1H5GFitJGp9cO6mgr1zAqniTqQkvce9hj/view?usp=sharing"
												target="_blank" class="imCssLink">pdf</a></span></div>
									<div class="imTAJustify"><span class="fs10lh1-5"><b>12. Raxmonov F.
												D.</b> Yuqori tartibli buziladigan yadroli
											integro-differensial tenglama uchun teskari masala. Bull.
											Inst. Math., 2022, Vol.5, №1, pp. 88-101 <a
												href="https://drive.google.com/file/d/1nIo0KMeZ1Z9ruPrlbwuysa7SS9j3OZGd/view?usp=sharing"
												target="_blank" class="imCssLink">pdf</a></span></div>
									<div class="imTAJustify"><span class="fs10lh1-5"><b>13. Turakulov X.
												Sh.</b> Chegaralanmagan parallelepiped ko‘rinishdagi
											sohada uch o‘lchovli Trikomi tenglamasi uchun yarim davriy
											tipdagi chegaraviy masala haqida. Bull. Inst. Math., 2022,
											Vol.5, №1, pp. 102-107 <a
												href="https://drive.google.com/file/d/1gk3SZ5nuI6LvqKpt0KiFZEj3NwCh7d36/view?usp=sharing"
												target="_blank" class="imCssLink">pdf</a></span></div>
									<div class="imTAJustify"><span class="fs10lh1-5"><b>14. Urinov A.
												K.</b> Kasr tartibli Riman-Liuvill integrallari va
											hosilalarini Bessel funksiyasi yordamida umumlashtirish.
											Bull. Inst. Math., 2022, Vol.5, №1, pp. 108-155 <a
												href="https://drive.google.com/file/d/144mYG1vPCUFf1LZ5PSEypcrwMf_Kgt-w/view?usp=sharing"
												target="_blank" class="imCssLink">pdf</a></span></div>
									<div class="imTAJustify"><span class="fs10lh1-5"><b>15. Yuldasheva
												A. V.</b> Peridinamikaning nochiziqli tenglamasining
											yechilishi haqida. Bull. Inst. Math., 2022, Vol.5, №1, pp.
											156-160 <a
												href="https://drive.google.com/file/d/1QsuV-qjevacnFLyo351sBRWXhw-IQvtE/view?usp=sharing"
												target="_blank" class="imCssLink">pdf</a></span></div>
									<div class="imTAJustify"><span class="fs10lh1-5"><br></span></div>
									<div class="imTAJustify">
										<div class="imTACenter"><b><span class="fs10lh1-5"><a
														href="https://drive.google.com/file/d/1fu7RRlVUjzDrxZgTwrY0cQw3AhFzCI5u/view?usp=sharing"
														target="_blank" class="imCssLink">2-son</a></span></b></div>
										<div class="imTALeft"><b class="fs10lh1-5"><br></b></div>
										<div class="imTAJustify">
											<div><span class="fs10lh1-5"><b>1. Durdiev D. K., Shishkina
														E. L., Rahmonov A. A.</b> Ko‘p o‘lchamli fazoda
													kasr hosilali to‘lqin tenglamasining yechimi uchun
													oshkor formula. Bull. Inst. Math., 2022, Vol.5, №2,
													pp. 1-12 <a
														href="https://drive.google.com/file/d/1yE-f-PbPj6xzRMzws8W2Nfnxre56pevd/view?usp=sharing"
														target="_blank" class="imCssLink">pdf</a></span>
											</div>
											<div><span class="fs10lh1-5"><b>2. Mizomov I. E. </b>Ba'zi
													Koshul algebralari sinflarining Kalabi-Yau xossasi
													haqida. Bull. Inst. Math., 2022, Vol.5, №2, pp.
													13-19 <a
														href="https://drive.google.com/file/d/1Rbn7R1yY7hObyc_MRUhSlrwFECmcWZUY/view?usp=sharing"
														target="_blank" class="imCssLink">pdf</a>
												</span></div>
											<div><span class="fs10lh1-5"><b>3. Mustapokulov Kh. Y.,
														Bekchonov Sh. E.</b> Boshqaruvda geometrik
													cheklovlar bo`lgan sistemaga nisbatan to'plamni
													invariant bo`lishining zaruriy shartlari haqida.
													Bull. Inst. Math., 2022, Vol.5, №2, pp. 20-25 <a
														href="https://drive.google.com/file/d/1-QxB9u1KXzWmKSonO8Ut25WgGa6eWpel/view?usp=sharing"
														target="_blank" class="imCssLink">pdf</a></span>
											</div>
											<div><span class="fs10lh1-5"><b>4. Normatov Z.</b>
													Kalojero-Mozer fazosining koordinata xalqasidagi
													munosabat. Bull. Inst. Math., 2022, Vol.5, №2, pp.
													26-32 <a
														href="https://drive.google.com/file/d/11mramxu2TAQNfeFa-WMf3wrVlZI9EQRk/view?usp=sharing"
														target="_blank" class="imCssLink">pdf</a></span>
											</div>
											<div><span class="fs10lh1-5"><b>5. Xudayarov S. S.</b>
													Permutatsiya matritsasining kvadratik stoxastik
													jarayonlari. &nbsp;Bull. Inst. Math., 2022, Vol.5,
													№2, pp. 33-39 <a
														href="https://drive.google.com/file/d/1QQWdiZus269JbByK4B8OQxyMTxv8ehtr/view?usp=sharing"
														target="_blank" class="imCssLink">pdf</a></span>
											</div>
											<div><span class="fs10lh1-5"><b>6. Abdullayev R. Z.,
														Madaminov B. A. </b> $\sigma$-chekli
													o`lchovlarga nisbatan tuzilgan umumlashtirilgan log
													-algebralarning izometriyalari. Bull. Inst. Math.,
													2022, Vol.5, №2, pp. 40-46 <a
														href="https://drive.google.com/file/d/16sRrV3zsVsHmx3IG2jCv_d1ayKjwEEv6/view?usp=sharing"
														target="_blank" class="imCssLink">pdf</a></span>
											</div>
											<div><span class="fs10lh1-5"><b>7. Zuparov T. M, Xalxadjayev
														B. B.</b> Tasodifiy koeffitsiyentli Аbel
													yig`indilari qo`shiluvchilarining bog`liqlik
													strukturasi. Bull. Inst. Math., 2022, Vol.5, №2, pp.
													47-50 <a
														href="https://drive.google.com/file/d/1yWuerYANHzw7tXooGK9lyI7LsMIeDb3g/view?usp=sharing"
														target="_blank" class="imCssLink">pdf</a></span>
											</div>
											<div><span class="fs10lh1-5"><b>8. </b><b>Ibragimov M. M.
													</b>Neytral tomoniy simmetrik fazo birlik sharining
													geometrik xossalari. Bull. Inst. Math., 2022, Vol.5,
													№2, pp. 51-55 <a
														href="https://drive.google.com/file/d/1v2Gh_H4eDMI31buy8WzOQ9gRKzDfPt5R/view?usp=sharing"
														target="_blank" class="imCssLink">pdf
													</a></span></div>
											<div><span class="fs10lh1-5"><b>9. Raximov D. G.,
														Axmadjanova D. D.</b> Yo`qotilish ro`y
													bermaydigan rezonatorlarda elektromagnit
													tebranishlar nazariyasining model masalasi haqida.
													Bull. Inst. Math., 2022, Vol.5, №2, pp. 56-61 <a
														href="https://drive.google.com/file/d/12OqLfa_O0O4-s66WwKnPa5lUpV7Iks9r/view?usp=sharing"
														target="_blank" class="imCssLink">pdf</a></span>
											</div>
											<div><span class="fs10lh1-5"><b>10. Ruziev M. Kh.,
														Yuldasheva N. T.</b> Aralash tipdagi tenglama
													uchun Frankl sharti analogi va Gellersted sharti
													bilan berilgan chegaraviy masala. &nbsp;&nbsp;Bull.
													Inst. Math., 2022, Vol.5, №2, pp. 62-71 <a
														href="https://drive.google.com/file/d/1uTQR_7qNBYaA5Jcq_foBdo2jh_eAFwrY/view?usp=sharing"
														target="_blank" class="imCssLink">pdf</a></span>
											</div>
											<div><span class="fs10lh1-5"><b>11. Safarov J. Sh.</b>
													Giperbolik tipdagi bitta integro-differensial
													tenglamani tadqiq etish. Bull. Inst. Math., 2022,
													Vol.5, №2, pp. 72-76 <a
														href="https://drive.google.com/file/d/1RPdx3KxZpXMU5504rfKsB_tUmyKzWeFL/view?usp=sharing"
														target="_blank" class="imCssLink">pdf</a></span>
											</div>
											<div><span class="fs10lh1-5"><b>12. Fozilov D. Sh.</b>
													Bianalitik funksiyalar uchun Koshi tipidagi
													integral. &nbsp;Bull. Inst. Math., 2022, Vol.5, №2,
													pp. 77-84 <a
														href="https://drive.google.com/file/d/1VX9N15oHR2yiXK2PvRWve70csIn33Svm/view?usp=sharing"
														target="_blank" class="imCssLink">pdf</a></span>
											</div>
											<div><span class="fs10lh1-5"><b>13. Xatamov N. M., Ibragimov
														I. I.</b> Keli daraxtidagi DNK molekulasining
													Ising modelidagi yangi Gibbs o`lchovlari. Bull.
													Inst. Math., 2022, Vol.5, №2, pp. 85-90 <a
														href="https://drive.google.com/file/d/1-e1gD8HzJVsUPcMLoHEE_Fc2mFV0GAeY/view?usp=sharing"
														target="_blank" class="imCssLink">pdf</a></span>
											</div>
											<div><span class="fs10lh1-5"><b>14. Sharipov A. S.,
														Abdishukurova G. M.</b> Qatlamali ko`pxillik
													isometriyalari gruppasining ba'zi xossalari haqida.
													Bull. Inst. Math., 2022, Vol.5, №2, pp. 91-96 <a
														href="https://drive.google.com/file/d/127PHR6vzBjUHI-pb1Tmmv7ddqKcA3Jux/view?usp=sharing"
														target="_blank" class="imCssLink">pdf</a></span>
											</div>
											<div><span class="fs10lh1-5"><b>15. Eshkabilov Y. X.,
														Baratov B. S </b>Ikki o'lchovli simpleksda
													separabel kubik stoxastik operatorning dinamikasi
													haqida. &nbsp;Bull. Inst. Math., 2022, Vol.5, №2,
													pp. 97-104 <a
														href="https://drive.google.com/file/d/175T_3KrmcZwBwDp9-gw5_tZZ223DldTe/view?usp=sharing"
														target="_blank" class="imCssLink">pdf</a></span>
											</div>
											<div><span class="fs10lh1-5"><b>16. Yuldashev T. K.,
														Egamnazarova M. G., Rasulova S. X.</b> Vaqt
													bo'yicha aks ettirilgan beshinchi tartibli
													integro-differensial tenglama uchun aralash masala
													haqida. Bull. Inst. Math., 2022, Vol.5, №2, pp.
													105-116 <a
														href="https://drive.google.com/file/d/1nGseJ9M5Sm7bbAOPMX4Wx-aHHrxVKOwu/view?usp=sharing"
														target="_blank" class="imCssLink">pdf</a></span>
											</div>
											<div><span class="fs10lh1-5"><b>17.</b> Zuparov Talat
													Marufovich 80 yillik yubileyiga bag'ishlanadi. Bull.
													Inst. Math., 2022, Vol.5, №2, pp. 117-118 <a
														href="https://drive.google.com/file/d/1o2Ub14crUSSB_kI-4ZaUZKAGU-v6Dy6t/view?usp=sharing"
														target="_blank" class="imCssLink">pdf</a></span>
											</div>
										</div>
									</div>
									<div class="imTAJustify"><span class="fs10lh1-5"><br></span></div>
									<br>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="imClear"></div>
	</main>
</div>

{% endblock content %}