{% extends 'base.html' %}
{% load static %}
{% block link %}{% static 'pcss/aloqa-uchun.css'%}{% endblock link %}

{% block name %}aloqa-uchun.html{% endblock name %}

{% block content %}

<div id="imContentContainer">
	<div id="imContentGraphics"></div>
	<main id="imContent">
		<a id="imGoToCont"></a>
		<div id="imPageRow_1" class="imPageRow">

			<div id="imPageRowContent_1" class="imContentDataContainer">
				<div id="imCell_1" class="">
					<div id="imCellStyleGraphics_1"></div>
					<div id="imCellStyle_1">
						<div id="imTextObject_8_01">
							<div class="text-tab-content" id="imTextObject_8_01_tab0" style="">
								<div class="text-inner">
									<div class="imTACenter"><span class="fs11lh1-5">"Matematika
											Instituti Byulleteni" elektron jurnalining pochta
											manzili:<br></span></div>
									<div><span class="fs11lh1-5"><br>Universitet ko`chasi
											9-<wbr>uy,<br>Olmazor tumani, Toshkent shahri.<br>Pochta
											indeksi:
											100174.<br><br>E-<wbr>mail: matinstbul@mathinst.uz<br>Vebshaifa:
											http://mib.mathinst.uz/<br>Telefon:
											+99871-<wbr>207-91-<wbr>40<br></span><br></div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="imClear"></div>
	</main>
</div>

{% endblock content %}