{% extends 'base.html' %}
{% load static %}
{% block link %}{% static 'pcss/jurnal-haqida.css'%}{% endblock link %}

{% block name %}jurnal-haqida.html{% endblock name %}

{% block content %}

<div id="imContentContainer">
	<div id="imContentGraphics"></div>
	<main id="imContent">
		<a id="imGoToCont"></a>
		<div class="imContentDataContainer">
			<h2 id="imPgTitle">Jurnal haqida</h2>
		</div>
		<div id="imPageRow_1" class="imPageRow">

			<div id="imPageRowContent_1" class="imContentDataContainer">
				<div id="imCell_1" class="">
					<div id="imCellStyleGraphics_1"></div>
					<div id="imCellStyle_1">
						<div id="imTextObject_3_01">
							<div class="text-tab-content" id="imTextObject_3_01_tab0" style="">
								<div class="text-inner">
									<div class="imTAJustify"><span class="fs11lh1-5 cf1">"Matematika
											instituti byulleteni" elektron jurnali O`zbekiston
											Respublikasi Fanlar akademiyasi, V.I. Romanovskiy nomidagi
											Matematika instituti va O</span><span class="fs11lh1-5">`</span><span
											class="fs11lh1-5">zbekiston
											Matematika Jamiyati tomonidan
											2018-</span><wbr class="fs11lh1-5"><span class="fs11lh1-5">yilda ta'sis
											etilgan bo</span><span class="fs11lh1-5">`</span><span
											class="fs11lh1-5">lib,
											yiliga 6 ta son shaklida chop etilishi ko</span><span
											class="fs11lh1-5">`</span><span class="fs11lh1-5">zda
											tutilgan. Chop etiladigan ilmiy maqolalar hajmiga cheklov
											qo</span><span class="fs11lh1-5">`</span><span class="fs11lh1-5">yilmaydi.
											Jurnalda chop etiladigan ilmiy
											maqolalar 2 tilda: &nbsp;rus va ingliz tillarida
											bo</span><span class="fs11lh1-5">`</span><span class="fs11lh1-5">lishi
											nazarda tutilgan.</span><br></div>
									<div><span class="fs11lh1-5 cf1"><br></span></div>
									<div class="imTAJustify"><span class="fs11lh1-5 cf1">Tahririyat
											a'zolari matematikaning turli ilmiy yo</span><span
											class="fs11lh1-5">`</span><span class="fs11lh1-5">nalishlarida tadqiqot olib
											borayotgan
											mutaxassislar bo</span><span class="fs11lh1-5">`</span><span
											class="fs11lh1-5">lib, jurnal faoliyatida muhim ahamiyatga
											egalar.</span><br></div>
									<div class="imTAJustify"><span class="fs11lh1-5 cf1"><br></span>
									</div>
									<div class="imTAJustify"><span class="fs11lh1-5 cf1">Jurnalning
											o'tgan yillardagi sonlarida jami 280 dan ortiq ilmiy
											maqolalar chop etilgan bo`lib, bu maqolalar AQSh, Kanada,
											Rossiya, Qozog`iston, Tojikiston va O`zbekistonlik
											matematiklar tomonidan yozilgan. </span></div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="imClear"></div>
	</main>
</div>

{% endblock content %}