{% extends 'base.html' %}
{% load static %}
{% block link %}{% static 'pcss/mualliflar-uchun.css'%}{% endblock link %}

{% block name %}mualliflar-uchun.html{% endblock name %}

{% block content %}

<div id="imContentContainer">
	<div id="imContentGraphics"></div>
	<main id="imContent">
		<a id="imGoToCont"></a>
		<div class="imContentDataContainer">
			<h2 id="imPgTitle">Mualliflar uchun</h2>
		</div>
		<div id="imPageRow_1" class="imPageRow">

			<div id="imPageRowContent_1" class="imContentDataContainer">
				<div id="imCell_1" class="">
					<div id="imCellStyleGraphics_1"></div>
					<div id="imCellStyle_1">
						<div id="imTextObject_5_01">
							<div class="text-tab-content" id="imTextObject_5_01_tab0" style="">
								<div class="text-inner">
									<div class="imTACenter"><br></div>
									<div class="imTACenter"><br></div>
									<div class="imTACenter">"Matematika Instituti Byulleteni" elektron
										jurnalida maqola chop etish uchun quyidagi namunaviy
										fayllardandan foydalanishingiz mumkin:
										<a href="{% url 'download' path='namuna-sample-shablon.zip' %}"
											class="imCssLink" download>Namuna.zip</a>
									</div>
									<div class="imTACenter"><br></div>
									<div class="imTACenter">Namuna asosida tayyorlagan maqolangizni
										matinstbul@mathinst.uz elektron pochtasiga jo`natishingiz lozim
										bo`ladi.</div>
									<div class="imTACenter"><br></div>
									<div class="imTACenter">Jurnalda chop etish uchun jo`natilgan
										maqolalar ilgari hech qayerda nashr etilmagan, yangi ilmiy
										natijani o`z ichiga olgan ilmiy maqola bo`lishi yoki ma'lum bir
										yo`nalishlar bo`yicha tahliliy maqola ko`rinishida ham bo`lishi
										mumkin. </div>
								</div>
							</div>

						</div>
						<form action="" method="post">{% csrf_token %}
							{{form}}
							<input type="submit" value="Jo'natish">
						</form>
					</div>
				</div>
			</div>
		</div>

		<div class="imClear"></div>
	</main>
</div>
{% endblock content %}