<ul class="menu-mobile-animated hidden">
    <li class="imMnMnFirst imPage" data-link-paths=",/index.html,/">
        <div class="label-wrapper">
            <div class="label-inner-wrapper">
                <a class="label" href="{% url 'home' %}">
                    Asosiy </a>
            </div>
        </div>
    </li>
    <li class="imMnMnMiddle imPage" data-link-paths=",/jurnal-haqida.html">
        <div class="label-wrapper">
            <div class="label-inner-wrapper">
                <a class="label" href="{% url 'about' %}">
                    Jurnal haqida </a>
            </div>
        </div>
    </li>
    <li class="imMnMnMiddle imPage" data-link-paths="{% url 'editorial' %}">
        <div class="label-wrapper">
            <div class="label-inner-wrapper">
                <a class="label" href="{% url 'editorial' %}">
                    Tahririyat </a>
            </div>
        </div>
    </li>
    <li class="imMnMnMiddle imPage" data-link-paths="{% url 'for_author' %}">
        <div class="label-wrapper">
            <div class="label-inner-wrapper">
                <a class="label" href="{% url 'for_author' %}">
                    Mualliflar uchun </a>
            </div>
        </div>
    </li>
    <li class="imMnMnMiddle imPage" data-link-paths="{% url 'last_issue' %}">
        <div class="label-wrapper">
            <div class="label-inner-wrapper">
                <a class="label" href="{% url 'last_issue' %}">
                    Oxirgi son </a>
            </div>
        </div>
    </li>
    <li class="imMnMnMiddle imLevel">
        <div class="label-wrapper">
            <div class="label-inner-wrapper"><span class="label">Arxiv</span>
            </div>
        </div>
        <ul data-original-position="bottom" class="bottom">
            <li class="imMnMnFirst imPage" data-link-paths=",/2018.html">
                <div class="label-wrapper">
                    <div class="label-inner-wrapper">
                        <a class="label" href="{% url 'archive_2018' %}">
                            2018 </a>
                    </div>
                </div>
            </li>
            <li class="imMnMnMiddle imPage" data-link-paths=",/2019.html">
                <div class="label-wrapper">
                    <div class="label-inner-wrapper">
                        <a class="label" href="{% url 'archive_2019' %}">
                            2019 </a>
                    </div>
                </div>
            </li>
            <li class="imMnMnMiddle imPage" data-link-paths=",/2020.html">
                <div class="label-wrapper">
                    <div class="label-inner-wrapper">
                        <a class="label" href="{% url 'archive_2020' %}">
                            2020 </a>
                    </div>
                </div>
            </li>
            <li class="imMnMnMiddle imPage" data-link-paths=",/2021.html">
                <div class="label-wrapper">
                    <div class="label-inner-wrapper">
                        <a class="label" href="{% url 'archive_2021' %}">
                            2021 </a>
                    </div>
                </div>
            </li>
            <li class="imMnMnLast imPage" data-link-paths=",/2022.html">
                <div class="label-wrapper">
                    <div class="label-inner-wrapper">
                        <a class="label" href="{% url 'archive_2022' %}">
                            2022 </a>
                    </div>
                </div>
            </li>
            {% for year in years %}
            <li class="imMnMnLast imPage">
                <div class="label-wrapper">
                    <div class="label-inner-wrapper">
                        <a class="label" href="{% url 'archive' year=year %}">
                            {{year}} </a>
                    </div>
                </div>
            </li>
            {% endfor %}

        </ul>
    </li>
    <li class="imMnMnLast imPage" data-link-paths="{% url 'contact' %}">
        <div class="label-wrapper">
            <div class="label-inner-wrapper">
                <a class="label" href="{% url 'contact' %}">
                    Aloqa uchun </a>
            </div>
        </div>
    </li>
</ul>